<div class="mt-3">
  <div class="row g-2 mx-0 mb-3">
    <div class="col-md-12">
      <div class="card border-0 pb-1 pt-1 scale-in-ver-top"
        style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
        <div class="card-body pb-1 pt-1">
          <form [formGroup]="registrationForm">
            <div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="fw-bold text-start custom-text">{{ 'Applicant Information' | uppercase }}
                </div>
                <div class="text-end mt-0 align-items-center ">
                  <!-- <span class="fs-custom rounded-pill text-danger"
                    aria-label="Fields marked with asterisk are required">(*) Required Fields</span> -->
                  <i class="bi bi-box-arrow-right text-danger cursor-pointer" (click)="logout()"></i>
                  <!-- <button class="btn btn-sm btn-danger border-0 shadow-none" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Logout</button> -->
                </div>
              </div>
              <hr class="custom-hr mt-1 scale-in-hor-left" />
              <div class="container scroll-container">
                <div class="row">
                  <div class="col-md-3">
                    <label>Email <span class="text-danger">*</span></label>
                    <input type="email" [value]="jobCodeData.email" formControlName="email" readonly
                      placeholder="Enter email address" class="form-control form-control-sm"
                      [ngClass]="{ 'is-invalid': registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched }" />
                  </div>

                  <div class="col-md-3">
                    <label for="mobileNumber">Mobile Number <span class="text-danger">*</span> </label>
                    <input type="text" placeholder="Enter Mobile Number" formControlName="mobileNumber" readonly
                      class="form-control form-control-sm input " numbersOnly maxlength="10"
                      [ngClass]="{ 'is-invalid': registrationForm.get('mobileNumber')?.invalid && registrationForm.get('mobileNumber')?.touched }" />
                  </div>
                  <div class="col-md-3">
                    <label>First Name <span class="text-danger">*</span></label>
                    <input type="text" [value]="jobCodeData.name" [readOnly]="isAllDataPresent" stringOnly
                      formControlName="firstName" class="form-control form-control-sm" placeholder="Enter First Name"
                      [ngClass]="{ 'is-invalid': registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched }" />
                  </div>
                  <div class="col-md-3">
                    <label>Last Name </label>
                    <input type="text" placeholder="Naik" [readOnly]="isAllDataPresent" formControlName="lastName"
                      stringOnly placeholder="Enter Last Name" class="form-control form-control-sm" />
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-3">
                    <label>Date of Birth <span class="text-danger">*</span></label>
                    <!-- <input type="text" id="dob" class="form-control form-control-sm" placeholder="dd-mm-yyyy"
                      formControlName="dob" autocomplete="off" [bsConfig]="{
                        adaptivePosition: true,
                        showWeekNumbers: false,
                        isAnimated: true,
                        containerClass: colorTheme,
                        customTodayClass: 'custom-today-class',
                        dateInputFormat: 'DD-MMM-YYYY'
                      }" bsDatepicker required readonly
                      [ngClass]="{ 'is-invalid': registrationForm.get('dob')?.invalid && registrationForm.get('dob')?.touched }" /> -->
                    <input *ngIf="!isAllDataPresent" type="text" id="dob" class="form-control form-control-sm" placeholder="dd-mm-yyyy"
                      formControlName="dob" autocomplete="off" [bsConfig]="{
                        adaptivePosition: true,
                        showWeekNumbers: false,
                        isAnimated: true,
                        containerClass: colorTheme,
                        customTodayClass: 'custom-today-class',
                        dateInputFormat: 'DD-MMM-YYYY',
                        maxDate: maxDob  
                      }" bsDatepicker required readonly
                      [ngClass]="{ 'is-invalid': registrationForm.get('dob')?.invalid && registrationForm.get('dob')?.touched }" />

                      <span *ngIf="isAllDataPresent" class="form-control form-control-sm" readonly>{{ loadedData?.candidatePersonalInformationDetails?.dob | date:'dd-MM-yyyy' }}</span>

                  </div>
                  <div class="col-md-3">
                    <label for="highestDegree">Highest Degree <span class="text-danger">*</span></label>
                    <input type="text" [readOnly]="isAllDataPresent" formControlName="highestDegree"
                      placeholder="Enter Highest Degree" class="form-control form-control-sm" maxlength="25"
                      noFirstSpace
                      [ngClass]="{ 'is-invalid': registrationForm.get('highestDegree')?.invalid && registrationForm.get('highestDegree')?.touched }" />
                  </div>
                  <div class="col-md-3">
                    <label>Aadhar Number <span class="text-danger">*</span></label>
                    <input type="text" [readOnly]="isAllDataPresent" formControlName="adhar"
                      placeholder="Enter 12 Digit Aadhar Number" class="form-control form-control-sm"
                      (keydown)="onlyNumbers($event)" maxlength="12"
                      [ngClass]="{ 'is-invalid': registrationForm.get('adhar')?.invalid && registrationForm.get('adhar')?.touched }" />
                  </div>
                  <div class="col-md-3">
                    <label for="tenth" class="form-label">Latest Resume <span class="text-danger">*</span></label>
                    <div class="file-upload rounded-4">
                      <ng-container *ngIf="resumeFile; else resumeFileInput">
                        <!-- <i class="bi bi-eye-fill text-success mr-3 cursor-pointer" (click)="viewFile(resumeFile)"></i>
                        <i class="bi bi-pencil-square text-info cursor-pointer" (click)="openResumeFileInput()"></i> -->
                        <button class="btn btn-sm btn-secondary mr-2 w-100" (click)="viewFile(resumeFile)">
                          <i class="bi bi-eye-fill"></i> view Resume
                        </button>



                        <!-- <button class="btn btn-sm btn-info" (click)="openResumeFileInput()">
                          <i class="bi bi-pencil-square"></i>
                        </button> -->

                        <!-- <input type="file" accept=".pdf" #hiddenResumeInput (change)="onFileSelect($event, 'panFile')"
                          class="d-none" /> -->
                      </ng-container>
                      <ng-template #resumeFileInput>
                        <input type="file" formControlName="resume" id="resume" #resumeFileInput
                          (change)="onFileSelect($event, 'resume')" class="form-control form-control-sm file-input"
                          [ngClass]="{ 'is-invalid': registrationForm.get('resume')?.invalid && registrationForm.get('resume')?.touched }" />
                      </ng-template>
                    </div>
                  </div>

                </div>



                <div class="row my-2">
                  <!-- <div class="col-md-3">
                    <div class="mb-3">
                      <label for="state" class="form-label form-label-small">State <span class="text-danger">*</span></label>
                      <select formControlName="state" [attr.disabled]="isAllDataPresent ? true : null"
                        class="form-control form-control-sm">
                        <option value="">Select</option>
                        <option *ngFor="let state of indianStates" [value]="state?.id">{{ state?.name }}</option>
                      </select>
                      <div
                        *ngIf="registrationForm.get('state')?.touched && registrationForm.get('state')?.invalid"
                        class="text-danger fs-custom">
                        Bank Name is required
                      </div>
                    </div>
                  </div> -->
                  <div class="col-md-3">
                    <div class="mb-3">
                      <label for="state" class="form-label form-label-small">
                        State <span class="text-danger">*</span>
                      </label>
                      <select formControlName="state" [attr.disabled]="isAllDataPresent ? true : null"
                        class="form-control form-control-sm" (change)="onStateChange($event)"
                        [ngClass]="{'is-invalid': registrationForm.get('state')?.touched && registrationForm.get('state')?.invalid}">
                        <option value="">Select state</option>
                        <option *ngFor="let state of indianStates" [value]="state?.id">{{ state?.name }}</option>
                      </select>
                    </div>
                  </div>


                  <div class="col-md-3">
                    <div class="mb-3">
                      <label for="city" class="form-label form-label-small">City <span
                          class="text-danger">*</span></label>
                      <select formControlName="city" [attr.disabled]="isAllDataPresent ? true : null"
                        class="form-control form-control-sm"
                        [ngClass]="{'is-invalid': registrationForm.get('city')?.touched && registrationForm.get('city')?.invalid}">
                        <option *ngIf="indianCities.length" value="">Select City</option>
                        <option *ngIf="!indianCities.length" value="">Please select state first</option>
                        <option *ngFor="let city of indianCities" [value]="city?.id">{{ city?.name }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <label for="completeAddress">Address <span class="text-danger">*</span></label>
                    <input type="text" [readOnly]="isAllDataPresent" formControlName="completeAddress"
                      placeholder="Enter Address" class="form-control form-control-sm" maxlength="50" noFirstSpace
                      [ngClass]="{ 'is-invalid': registrationForm.get('completeAddress')?.invalid && registrationForm.get('completeAddress')?.touched }" />
                  </div>

                  <div class="col-md-3">
                    <label for="pincode">Pincode <span class="text-danger">*</span></label>
                    <input type="text" [readOnly]="isAllDataPresent" formControlName="pincode" maxlength="6"
                      minlength="6" placeholder="Enter Pincode" class="form-control form-control-sm" numbersOnly
                      noFirstSpace
                      [ngClass]="{ 'is-invalid': registrationForm.get('pincode')?.invalid && registrationForm.get('pincode')?.touched }" />
                  </div>

                  <!-- <div class="col-md-">
                    <label for="completeAddress">
                      Complete Address (Pincode) <span class="text-danger">*</span>
                    </label>
                    <textarea [readOnly]="isAllDataPresent" stringOnly formControlName="completeAddress"
                      class="form-control form-control-sm" placeholder="Enter Complete Address" rows="1" [ngClass]="{
                        'is-invalid':
                          registrationForm.get('completeAddress')?.invalid &&
                          registrationForm.get('completeAddress')?.touched
                      }"></textarea>
                  </div> -->
                </div>

                <hr class="custom-hr mt-2 scale-in-hor-left" />
                <div class="row">
                  <!-- <div class="col-md-3">
                    <label class="form-label form-label-small">Preferred Mode of Interview <span class="text-danger">*</span></label>
                    <select class="form-control form-control-sm" formControlName="interviewMode"
                      [ngClass]="{ 'is-invalid': registrationForm.get('interviewMode')?.invalid && registrationForm.get('interviewMode')?.touched }">
                      <option value="">Select</option>
                      <option value="1">Telephonic</option>
                      <option value="2">Office</option>
                    </select>
                  </div> -->
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="d-block custom-text">Are you a Fresher or Experienced?</label>
                      <div class="form-check form-check-inline">
                        <input type="radio" formControlName="isFresher" class="form-check-input" id="fresher"
                          value="fresher" [readOnly]="isAllDataPresent" (change)="handleExperienceToggle('fresher')" />
                        <label class="form-check-label" for="fresher">Fresher</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input type="radio" formControlName="isFresher" class="form-check-input" id="experienced"
                          value="experienced" [readOnly]="isAllDataPresent"
                          (change)="handleExperienceToggle('experienced')" />
                        <label class="form-check-label" for="experienced">Experienced</label>
                      </div>
                    </div>
                  </div>


                  <div *ngIf="!isAllDataPresent" class="col-md-1 mt-3">
                    <div *ngIf="isFresher">
                      <button type="submit" class="btn custom-bg text-white btn-sm shadow-none border-0 mt-2"
                        (click)="setValidation('experience')">
                        Submit
                      </button>
                    </div>
                  </div>



                </div>
                <!-- <div *ngIf="!isAllDataPresent" class="row">
                  <div *ngIf="isFresher" class="col">
                    <div class="">
                      <button type="submit" class="btn custom-bg text-white btn-sm shadow-none border-0 mt-2"
                        (click)="setValidation('experience')">
                        Submit
                      </button>
                    </div>
                  </div>
                </div> -->
                <!-- <div *ngIf="!isAllDataPresent" class="d-flex justify-content-center">
                  <div *ngIf="isFresher">
                    <button type="submit" class="btn custom-bg text-white btn-sm shadow-none border-0 mt-2"
                      (click)="setValidation('experience')">
                      Submit
                    </button>
                  </div>
                </div> -->

                <hr *ngIf="!isFresher" class="custom-hr mt-2 scale-in-hor-left" />
                <div *ngIf="!isFresher">
                  <div class="row mb-2 scale-in-ver-top">
                    <div class="col-md-3">
                      <label>Company Name <span class="text-danger">*</span></label>
                      <input type="text" formControlName="companyName" placeholder="Company Name" stringOnly
                        noFirstSpace maxlength="50" [readOnly]="isAllDataPresent" class="form-control form-control-sm"
                        [ngClass]="{ 'is-invalid': registrationForm.get('companyName')?.invalid && registrationForm.get('companyName')?.touched }" />
                    </div>

                    <div class="col-md-3">
                      <label>Total Experience <span class="text-danger">*</span></label>
                      <input type="text" formControlName="totalExperience" [readOnly]="isAllDataPresent"
                        placeholder="Enter Total Year's of experience" maxlength="5" (input)="CorrectExperienceValue($event)"
                        (keydown)="validExperienceInput($event)" class="form-control form-control-sm"
                        [ngClass]="{ 'is-invalid': registrationForm.get('totalExperience')?.invalid && registrationForm.get('totalExperience')?.touched }" />
                    </div>

                    <div *ngIf="!isAllDataPresent" class="col-md-2 mt-3">
                      <div class="">
                        <button type="submit" class="btn custom-bg text-white btn-sm shadow-none border-0  mt-2"
                          (click)="setValidation('experience')">
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <hr *ngIf="isAllDataPresent" class="custom- mt-2 scale-in-hor-left" />
                <div *ngIf="isAllDataPresent && !loadedData?.candidateInterviewDetails?.length"
                  class="alert alert-dark text-center mt-3 fw-bold">
                  <!-- ⚠️ Once submitting the data, no edit option for this form ❗ -->
                  ⚠️ No changes can be made after submission ❗
                </div>

                <div *ngIf="loadedData?.candidateInterviewDetails?.length">
                  <!-- <h6 class="fw-bold mb-3">Interview Status ({{ jobCodeData.name | uppercase }})</h6> -->

                  <!-- <div class="scroll-container mb-0"> -->
                  <!-- Headings for Desktop -->
                  <div class="row fw-semibold text-muted mb-2 px-2 d-none d-md-flex">
                    <div class="col-md-1">Status</div>
                    <div class="col-md-2">Round Title</div>
                    <div class="col-md-2">Date</div>
                    <div class="col-md-2">Time</div>
                    <div class="col-md-3">Location</div>
                    <div class="col-md-2">Status</div>
                  </div>

                  <!-- Interview Loop -->
                  <div *ngFor="let interview of loadedData.candidateInterviewDetails"
                    class="rounded mb-3 p-3 p-md-2 border interview-card" [ngClass]="{
                        'filled-bg': interview.candidateInterviewFeedBackDTO?.length,
                        'custom-bg text-white': !interview.candidateInterviewFeedBackDTO?.length
                      }">

                    <!-- Desktop Layout -->
                    <div class="row align-items-center p-0 d-none d-md-flex">
                      <div class="col-md-1 text-center">
                        <i [ngClass]="{
                            'bi bi-check-circle-fill text-success': interview.candidateInterviewFeedBackDTO?.length,
                            'bi bi-hourglass-split text-white': !interview.candidateInterviewFeedBackDTO?.length
                          }" style="font-size: 1.5rem;"></i>
                      </div>
                      <div class="col-md-2 fw-semibold">
                        {{ interview.interviewRoundName }} {{ interview.level ? '(' + interview.level + ')' : '' }}
                      </div>
                      <div class="col-md-2">{{ formatFullDateForInterview(interview.interviewDate) }}</div>
                      <div class="col-md-2">{{ interview.interviewTime || '--' }}</div>
                      <div class="col-md-3 text-truncate" [attr.title]="interview.locationName || '--'"
                        style="max-width: 100%;">
                        {{ interview.locationName?.length > 25 ? (interview.locationName | slice: 0:25) + '...' :
                        (interview.locationName || '--') }}
                      </div>
                      <div class="col-md-2 fw-medium" [ngClass]="{
                          'text-success': interview.status === 1004,
                          'text-warning': interview.status === 1001,
                          'text-danger': interview.status === 1002 || interview.status === 1005,
                          'text-primary': interview.status === 1006
                        }">
                        {{
                        interview.status === 1001 ? 'Pending' :
                        interview.status === 1002 ? 'Cancelled' :
                        interview.status === 1004 ? 'Completed' :
                        interview.status === 1005 ? 'Rejected' :
                        interview.status === 1006 ? 'On Hold' : 'Unknown'
                        }}
                      </div>
                    </div>

                    <!-- Mobile Layout -->
                    <div class="d-flex d-md-none flex-column gap-1">
                      <div class="d-flex align-items-center gap-2">
                        <i [ngClass]="{
                        'bi bi-check-circle-fill text-success mr-1': interview.candidateInterviewFeedBackDTO?.length,
                        'bi bi-hourglass-split text-white': !interview.candidateInterviewFeedBackDTO?.length
                      }" style="font-size: 1.3rem;"></i>
                        <strong>{{ interview.interviewRoundName }} {{ interview.level ? '(' + interview.level + ')'
                          :
                          ''
                          }}</strong>
                      </div>
                      <div><strong>Date:</strong> {{ interview.interviewDate || '--' }}</div>
                      <div><strong>Time:</strong> {{ interview.interviewTime || '--' }}</div>
                      <!-- <div><strong>Location:</strong> {{ interview.locationName || '--' }}</div> -->
                      <div [ngClass]="{
                          'text-success': interview.status === 1004,
                          'text-warning': interview.status === 1001,
                          'text-danger': interview.status === 1002 || interview.status === 1005,
                          'text-primary': interview.status === 1006
                        }"><strong>Status:</strong>
                        {{
                        interview.status === 1001 ? 'Pending' :
                        interview.status === 1002 ? 'Cancelled' :
                        interview.status === 1004 ? 'Completed' :
                        interview.status === 1005 ? 'Rejected' :
                        interview.status === 1006 ? 'On Hold' : 'Unknown'
                        }}
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->
                </div>


              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loader attDnceLoadr" *ngIf="isLoading">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div *ngIf="showPDF" class="overlay">
  <div class="pdf-container">
    <button class="close-btn" (click)="closePDF()">✖</button>
    <iframe [src]="fileURL" width="100%" height="100%"></iframe>
  </div>
</div>