<div class="mt-3">
  <div class="row g-2 mx-0 mb-3">
    <div class="col-md-12">
      <div class="card border-0 pb-1 pt-1 scale-in-ver-top" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
        <div class="card-body pb-1 pt-1">
          <form [formGroup]="registrationForm">
            <div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="fw-bold text-start custom-text">{{ 'Applicant Information' | uppercase }}
                </div>
                <div class="text-end mt-0 align-items-center d-none d-md-block">
                  <span class="fs-custom rounded-pill text-danger"
                    aria-label="Fields marked with asterisk are required">(*) Required Fields</span>
                </div>
              </div>
              <hr class="custom-hr mt-1 scale-in-hor-left" />
              <div class="container scroll-container">
                <div class="row">
                  <div class="col-md-3">
                    <label>Email <span class="text-danger">*</span></label>
                    <input type="email" [value]="jobCodeData.email"  formControlName="email" placeholder="Enter email address"
                      class="form-control form-control-sm"
                      [ngClass]="{ 'is-invalid': registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched }" />
                  </div>

                  <div class="col-md-3">
                    <label for="mobileNumber">Mobile Number <span class="text-danger">*</span> </label>
                    <input type="text" placeholder="Enter Mobile Number" formControlName="mobileNumber"
                      class="form-control form-control-sm input " numbersOnly maxlength="10" 
                      [ngClass]="{ 'is-invalid': registrationForm.get('mobileNumber')?.invalid && registrationForm.get('mobileNumber')?.touched }" />
                  </div>
                  <div class="col-md-3">
                    <label>First Name <span class="text-danger">*</span></label>
                    <input type="text" [value]="jobCodeData.name" [readOnly]="isAllDataPresent" stringOnly
                      formControlName="firstName" class="form-control form-control-sm" placeholder="Enter First Name"
                      [ngClass]="{ 'is-invalid': registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched }" />
                  </div>
                  <div class="col-md-3">
                    <label>Last Name <span class="text-danger">*</span></label>
                    <input type="text" placeholder="Naik" [readOnly]="isAllDataPresent" formControlName="lastName" stringOnly
                      placeholder="Enter Last Name"
                      class="form-control form-control-sm"
                      [ngClass]="{ 'is-invalid': registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched }" />
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-3">
                    <label>Date of Birth <span class="text-danger">*</span></label>
                    <input type="text" id="dob" class="form-control form-control-sm" placeholder="dd-mm-yyyy"
                      formControlName="dob" autocomplete="off" [bsConfig]="{
                        adaptivePosition: true,
                        showWeekNumbers: false,
                        isAnimated: true,
                        containerClass: colorTheme,
                        customTodayClass: 'custom-today-class',
                        dateInputFormat: 'DD-MMM-YYYY'
                      }" bsDatepicker required readonly
                      [ngClass]="{ 'is-invalid': registrationForm.get('dob')?.invalid && registrationForm.get('dob')?.touched }" />
                  </div>
                  <div class="col-md-3">
                    <label for="highestDegree">Highest Degree <span class="text-danger">*</span></label>
                    <input type="text" [readOnly]="isAllDataPresent" formControlName="highestDegree"
                      placeholder="Enter Highest Degree" class="form-control form-control-sm"
                      [ngClass]="{ 'is-invalid': registrationForm.get('highestDegree')?.invalid && registrationForm.get('highestDegree')?.touched }" />
                  </div>
                  <div class="col-md-3">
                    <label>Aadhar Number <span class="text-danger">*</span></label>
                    <input type="text" [readOnly]="isAllDataPresent" formControlName="adhar" placeholder="Enter 12 Digit Aadhar Number"
                      class="form-control form-control-sm" (keydown)="onlyNumbers($event)" maxlength="12"
                      [ngClass]="{ 'is-invalid': registrationForm.get('adhar')?.invalid && registrationForm.get('adhar')?.touched }" />
                  </div>
                  <div class="col-md-3">
                    <label for="tenth" class="form-label">Latest Resume <span class="text-danger">*</span></label>
                    <div class="file-upload rounded-4">
                      <ng-container *ngIf="resumeFile && isAllDataPresent; else resumeFileInput">
                        <button class="btn btn-info badge badge-pill badge-info py-2  btn-sm shadow-none border-0 w-100"
                          (click)="viewFile(resumeFile)">
                          View Resume
                        </button>
                      </ng-container>
                      <ng-template #resumeFileInput>
                        <input type="file" formControlName="resume" id="resume" #resumeFileInput
                          (change)="onFileSelect($event, 'resume')" class="form-control form-control-sm file-input"
                          [ngClass]="{ 'is-invalid': registrationForm.get('resume')?.invalid && registrationForm.get('resume')?.touched }" />
                      </ng-template>
                    </div>
                  </div>

                </div>
                <hr class="custom-hr mt-2 scale-in-hor-left" />
                <div class="row">
                  <div class="col-md-3">
                    <div class="mb-3">
                      <label class="d-block custom-text">Are you a Fresher or Experienced?</label>
                      <div class="form-check form-check-inline">
                        <input type="radio" formControlName="isFresher" class="form-check-input" id="fresher"
                          value="fresher" (change)="handleExperienceToggle('fresher')" />
                        <label class="form-check-label" for="fresher">Fresher</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input type="radio" formControlName="isFresher" class="form-check-input" id="experienced"
                          value="experienced" (change)="handleExperienceToggle('experienced')" />
                        <label class="form-check-label" for="experienced">Experienced</label>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div *ngIf="isFresher" class="col">
                    <div class="">
                      <button type="submit" class="btn custom-bg text-white btn-sm shadow-none border-0 mt-2"
                        (click)="setValidation('experience')">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
                <hr *ngIf="!isFresher" class="custom-hr mt-2 scale-in-hor-left" />
                <div *ngIf="!isFresher">
                  <div class="row mb-2 scale-in-ver-top">
                    <div class="col-md-3">
                      <label>Company Name <span class="text-danger">*</span></label>
                      <input type="text" formControlName="companyName" placeholder="Company Name"
                        class="form-control form-control-sm"
                        [ngClass]="{ 'is-invalid': registrationForm.get('companyName')?.invalid && registrationForm.get('companyName')?.touched }" />
                    </div>

                    <div class="col-md-3">
                      <label>Total Experience <span class="text-danger">*</span></label>
                      <input type="text" formControlName="totalExperience" placeholder="Enter Total Year's of experience" maxlength="6"
                        (keydown)="onlyNumbersWithDot($event)" maxlength="3" class="form-control form-control-sm"
                        [ngClass]="{ 'is-invalid': registrationForm.get('totalExperience')?.invalid && registrationForm.get('totalExperience')?.touched }" />
                    </div>

                    <div class="col-md-2 mt-3">
                      <div class="">
                        <button type="submit" class="btn custom-bg text-white btn-sm shadow-none border-0  mt-2"
                          (click)="setValidation('experience')">
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loader attDnceLoadr" *ngIf="isLoading">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div *ngIf="showPDF" class="overlay">
  <div class="pdf-container">
    <button class="close-btn" (click)="closePDF()">✖</button>
    <iframe [src]="fileURL" width="100%" height="100%"></iframe>
  </div>
</div>