<div class="container-fluid">
    <app-nav></app-nav>
</div>
<nav aria-label="breadcrumb m-0 p-0">
    <ol class="breadcrumb p_3">
        <span>
            <li class="breadcrumb-item" [routerLink]="['/hrms']">HRMS</li>
            <li class="breadcrumb-item active" aria-current="page">ID Card Template</li>
        </span>
        <li class="_date">Logged in from {{myDate | momentDate: "dddd, DD"}}<sup>{{(myDate | momentDate: "D") |
                dateSuffix}}</sup>
            {{myDate | momentDate: "MMM yyyy, hh:mm A"}}</li>
        <!-- <li class="_date">Date: Wednesday, December 09, 2020</li> -->
    </ol>
</nav>
<div class="container-fluid card">
    <!-- Centered Heading -->
    <div class="row mb-4 custom-bg p-2">
        <div class="col-12 d-flex">
            <p class="h5 m-0 text-center" style="color: #0072BC; font-weight: bold;">
                <i class="bi bi-person-fill"></i> ID Card Template
            </p>
        </div>
    </div>

    <!-- Card Grid -->
   <div class="custom-height">
        <div class="row">
            <div class="col-md-3 " *ngFor="let company of companies"
                style="box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;">
                <h5 class="mb-2" style="font-weight: bold;">
                    {{ company.name }} <i class="bi bi-person-fill-down"></i>
                </h5>
                <div class="row">
                    <div class="col-6 mb-3" *ngFor="let img of company.images; let i = index">
                        <div class="card position-relative" (mouseenter)="hoverIndex[company.name + i] = true"
                            (mouseleave)="hoverIndex[company.name + i] = false">

                            <img [src]="img.url" class="card-img-top img-fluid" [alt]="img.label" />

                            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center"
                                [ngStyle]="{
                              'background': 'rgba(0,0,0,0.4)',
                              'opacity': hoverIndex[company.name + i] ? '1' : '0',
                              'transition': '0.3s'
                            }">
                                <button class="btn btn-light" (click)="downloadImage(img.url)">
                                    <img [src]="downloadIcon" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 


    <!-- <video width="700" controls>
        <source src="../../../assets/img/idcard/RepIQ Bot_launch 2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video> -->

    




</div>