<div class="container-flui card ">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="">
            <!-- <div class="card-header custom-bg fw-bold text-white mb-3 d-flex justify-content-between align-items-center">
                <div>Employee Basic Details</div>
                <button type="button" class="btn btn-light btn-sm border-0 shadow-none" (click)="checkList()">Check List</button>
            </div> -->

            <div class="card-header custom-bg fw-bold text-white mb-3">
                Employee Basic Details
            </div>

            <div class="scroll-container border-0 card">
                <div class="container-fluid mb-0">
                    <div class='row'>
                        <div class='col-md-3'>
                            <label class='form-label form-label-small'>Title</label>

                            <select formControlName="titleId" class="form-control form-control-sm "
                                [ngClass]="{ 'is-invalid': employeeForm.get('titleId')?.invalid && employeeForm.get('titleId')?.touched }">
                                <option value="">Select</option>
                                <option *ngFor="let title of titleList" [value]="title?.id">{{ title?.name }}
                                </option>
                            </select>
                            <!-- <div *ngIf="employeeForm.get('title')?.touched && employeeForm.get('title')?.invalid"
                                    class='text-danger small mt-1'>
                                    Title is required.
                                </div> -->
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small'>First Name</label>
                            <input type='text' class='form-control form-control-sm  '
                                placeholder='Enter your first name' formControlName='firstName' stringOnly
                                [ngClass]="{ 'is-invalid': employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched }" />
                            <!-- <div *ngIf="employeeForm.get('firstName')?.touched && employeeForm.get('firstName')?.invalid"
                                    class='text-danger small mt-1'>
                                    <div *ngIf="employeeForm.get('firstName')?.errors?.['required']">First name is
                                        required.
                                    </div>
                                    <div *ngIf="employeeForm.get('firstName')?.errors?.['minlength']">Minimum 2
                                        characters
                                        required.</div>
                                    <div *ngIf="employeeForm.get('firstName')?.errors?.['pattern']">Only alphabets are
                                        allowed.</div>
                                </div> -->
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small'>Middle Name</label>
                            <input type='text' class='form-control form-control-sm ' stringOnly
                                formControlName='middleName' placeholder='Enter Your Middle Name' />
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small'>Last Name</label>
                            <input type='text' class='form-control form-control-sm ' placeholder='Enter your Last Name'
                                stringOnly formControlName='lastName'
                                [ngClass]="{ 'is-invalid': employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched }" />
                            <!-- <div *ngIf="employeeForm.get('lastName')?.touched && employeeForm.get('lastName')?.invalid"
                                    class='text-danger small mt-1'>
                                    Last Name is required.
                                </div> -->
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2' for='gender'>Gender</label>
                            <select formControlName="genderId" class="form-control form-control-sm "
                                [ngClass]="{ 'is-invalid': employeeForm.get('genderId')?.invalid && employeeForm.get('genderId')?.touched }">
                                <option value="">Select</option>
                                <option *ngFor="let gender of genderList" [value]="gender?.id">{{ gender?.name }}
                                </option>
                            </select>
                            <!-- <div *ngIf="employeeForm.get('genderId')?.touched && employeeForm.get('genderId')?.invalid"
                                    class='text-danger small mt-1'>
                                    Gender is required.
                                </div> -->
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>Call/Full Name</label>
                            <input type='text' class='form-control form-control-sm ' stringOnly noFirstSpace
                                formControlName='fullName' placeholder='Enter Full Name' />
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2' for='ctc'>CTC per Annum</label>
                            <input type="text" class="form-control form-control-sm " formControlName="ctc"
                                placeholder="Enter CTC Amount" maxlength="8" numbersOnly [ngClass]="{
                              'is-invalid': employeeForm.get('ctc')?.invalid && employeeForm.get('ctc')?.touched
                            }" />
                            <!-- <div *ngIf="employeeForm.get('ctc')?.touched && employeeForm.get('ctc')?.hasError('required')"
                                    class="text-danger small mt-1">
                                    CTC Amount is required.
                                </div>
                                <div *ngIf="employeeForm.get('ctc')?.touched && employeeForm.get('ctc')?.hasError('pattern')"
                                    class="text-danger small mt-1">
                                    Enter a valid amount (numbers only).
                                </div> -->
                        </div>



                        <div class='col-md-3'>
                            <!-- <label class='form-label form-label-small mt-2' for='reportingOfficer '>Reporting
                                Officer</label>
                            <input type="text" class="form-control form-control-sm " formControlName="reportingOfficer"
                                placeholder="Reporting Manager Name/ID"
                                [ngClass]="{'is-invalid': employeeForm.get('reportingOfficer')?.invalid && employeeForm.get('reportingOfficer')?.touched}" /> -->


                            <label class='form-label form-label-small mt-2' for='reportingOfficer'>Reporting
                                Officer</label>
                            <select class="form-control form-control-sm py-1 " formControlName="reportingOfficer"
                                [ngClass]="{ 'is-invalid': employeeForm.get('reportingOfficer')?.invalid && employeeForm.get('reportingOfficer')?.touched}">
                                <option value="">--Select One--</option>
                                <option *ngFor="let item of managersList" [value]="item.id">{{ item.name }} </option>
                            </select>
                            <!-- <div *ngIf="employeeForm.get('reportingOfficer')?.touched && employeeForm.get('reportingOfficer')?.hasError('required')"
                                    class="text-danger small mt-1">
                                    Reporting Manager is required.
                                </div> -->
                        </div>



                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>Date Of Birth</label>
                            <!-- <input type="date" class="form-control form-control-sm" formControlName="dob" 
                                [ngClass]="{ 'is-invalid': employeeForm.get('dob')?.invalid && employeeForm.get('dob')?.touched}" placeholder="Date of Birth" /> -->

                            <input type="text" id="dob" class="form-control form-control-sm input" placeholder="dd-mm-yyyy"
                                formControlName="dob" autocomplete="off" [bsConfig]="{
                                    adaptivePosition: true,
                                    showWeekNumbers: false,
                                    isAnimated: true,
                                    containerClass: colorTheme,
                                    customTodayClass: 'custom-today-class',
                                    dateInputFormat: 'DD-MMM-YYYY'
                                    }" [maxDate]="maxDate" bsDatepicker required readonly
                                [ngClass]="{ 'is-invalid': employeeForm.get('dob')?.invalid && employeeForm.get('dob')?.touched}" />
                            <!-- <div *ngIf="employeeForm.get('dob')?.touched && employeeForm.get('dob')?.invalid"
                                    class="text-danger small mt-1">
                                    Date of Birth is required.
                                </div> -->
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>Date Of Join</label>
                            <!-- <input type="date" class="form-control form-control-sm" formControlName="doj"
                                    placeholder="Date Of Join" [ngClass]="{
                                      'is-invalid': employeeForm.get('doj')?.invalid && employeeForm.get('doj')?.touched
                                    }" /> -->

                            <input type="text" id="doj" class="form-control form-control-sm" placeholder="dd-mm-yyyy"
                                formControlName="doj" autocomplete="off" [bsConfig]="{
                                    adaptivePosition: true,
                                    showWeekNumbers: false,
                                    isAnimated: true,
                                    containerClass: colorTheme,
                                    customTodayClass: 'custom-today-class',
                                    dateInputFormat: 'DD-MMM-YYYY'
                                    }" bsDatepicker required readonly
                                [ngClass]="{ 'is-invalid': employeeForm.get('doj')?.invalid && employeeForm.get('doj')?.touched}" />
                            <!-- <div *ngIf="employeeForm.get('doj')?.touched && employeeForm.get('doj')?.invalid"
                                    class="text-danger small mt-1">
                                    Date of Joining is required.
                                </div> -->
                        </div>



                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2' for='mobileNumber'>Mobile No</label>
                            <input type="text" class="form-control form-control-sm " formControlName="mobileNumber"
                                placeholder="Enter 10-digit Mobile Number" numbersOnly maxlength="10"
                                [ngClass]="{'is-invalid': employeeForm.get('mobileNumber')?.invalid && employeeForm.get('mobileNumber')?.touched }" />
                            <!-- <div *ngIf="employeeForm.get('mobileNumber')?.touched && employeeForm.get('mobileNumber')?.errors?.['required']"
                                    class="text-danger small mt-1">
                                    Mobile number is required.
                                </div> 
                                <div *ngIf="employeeForm.get('mobimobileNumberle')?.touched && employeeForm.get('mobileNumber')?.errors?.['pattern']"
                                    class="text-danger small mt-1">
                                    Enter a valid 10-digit mobile number.
                                </div> -->
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>Email ID</label>
                            <input type="email" noFirstSpace class="form-control form-control-sm "
                                formControlName="email" placeholder="Email" />
                        </div>





                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>Notice Period</label>

                            <select formControlName="joiningTime"
                                [ngClass]="{ 'is-invalid': employeeForm.get('joiningTime')?.invalid && employeeForm.get('joiningTime')?.touched}"
                                class="form-control form-control-sm ">
                                <option value="">Select</option>
                                <option *ngFor="let joining of joiningTimeList" [value]="joining.id">
                                    {{ joining.name }}
                                </option>
                            </select>
                            <!-- <div *ngIf="employeeForm.get('joiningTime')?.touched && employeeForm.get('joiningTime')?.errors?.['required']"
                                    class="text-danger small mt-1">
                                    Notice Period is required.
                                </div> -->
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>Date(As per Offer Letter)</label>
                            <input type="text" id="offerLetterDate" class="form-control form-control-sm"
                                placeholder="dd-mm-yyyy" formControlName="offerLetterDate" autocomplete="off"
                                [bsConfig]="{
                                    adaptivePosition: true,
                                    showWeekNumbers: false,
                                    isAnimated: true,
                                    containerClass: colorTheme,
                                    customTodayClass: 'custom-today-class',
                                    dateInputFormat: 'DD-MMM-YYYY'
                                    }" bsDatepicker required readonly
                                [ngClass]="{ 'is-invalid': employeeForm.get('offerLetterDate')?.invalid && employeeForm.get('offerLetterDate')?.touched}" />
                            <!-- <div *ngIf="employeeForm.get('offerLetterDate')?.touched && employeeForm.get('offerLetterDate')?.hasError('required')"
                                    class="text-danger small mt-1">
                                    Offer Letter Date is required.
                                </div> -->
                        </div>



                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2' for='division'>Division</label>
                            <select class="form-control form-control-sm py-1 " formControlName="division"
                                (change)="onBusinessUnitChange($event)"
                                [ngClass]="{ 'is-invalid': employeeForm.get('division')?.invalid && employeeForm.get('division')?.touched}">
                                <option value="">--Select One--</option>
                                <option *ngFor="let item of businessUnitsList" [value]="item.id">{{ item.name }}
                                </option>
                            </select>

                            <!-- <div *ngIf="employeeForm.get('division')?.touched && employeeForm.get('division')?.invalid"
                                    class="text-danger small mt-1">
                                    Division is required.
                                </div> -->
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>Employee Code</label>
                            <input type="text" class="form-control form-control-sm " noFirstSpace numbersOnly
                                maxlength="8" formControlName="employeeCode" placeholder="Enter Your Employee Code"
                                [ngClass]="{ 'highlight-suggestion': showEmployeeCodeHighlight }" readonly />
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>Employement Type</label>
                            <select class="form-control form-control-sm py-1 " formControlName="employmentType"
                                [ngClass]="{
                              'is-invalid': employeeForm.get('employmentType')?.invalid && employeeForm.get('employmentType')?.touched
                            }">
                                <option value="">--Select One--</option>
                                <option *ngFor="let item of employeeDataList" [value]="item.id">{{ item.name }}
                                </option>
                            </select>
                            <!-- <div *ngIf="employeeForm.get('employmentType')?.touched && employeeForm.get('employmentType')?.invalid"
                                    class="text-danger small mt-1">
                                    Employment Type is required.
                                </div> -->
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>Probation Period</label>
                            <select class="form-control form-control-sm py-1 " formControlName="probationPeriod"
                                [ngClass]="{
                              'is-invalid': employeeForm.get('probationPeriod')?.invalid && employeeForm.get('probationPeriod')?.touched
                            }">
                                <option value="">--Select One--</option>
                                <option *ngFor="let joining of probationPeriodList" [value]="joining.id">
                                    {{ joining.name }}
                                </option>
                            </select>
                            <!-- <div *ngIf="employeeForm.get('probationPeriod')?.touched && employeeForm.get('probationPeriod')?.errors?.['required']"
                                    class="text-danger small mt-1">
                                    Probation Period is required.
                                </div> -->
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>PT State</label>
                            <select class="form-control form-control-sm py-1 " formControlName="ptState" [ngClass]="{
                              'is-invalid': employeeForm.get('ptState')?.invalid && employeeForm.get('ptState')?.touched
                            }">
                                <option value="">--Select One--</option>
                                <option *ngFor="let item of ptStatesList" [value]="item.statecode">{{ item.ptstate }}
                                </option>
                            </select>
                            <!-- <div *ngIf="employeeForm.get('ptState')?.touched && employeeForm.get('ptState')?.invalid"
                                    class="text-danger small mt-1">
                                    PT State is required.
                                </div> -->
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>Cost Center</label>
                            <div class="d-flex align-items-center">
                                <select class="form-control form-control-sm py-1 mr-3 " formControlName="costCenter"
                                    style="width: 120px;"
                                    [ngClass]="{'is-invalid': employeeForm.get('costCenter')?.invalid && employeeForm.get('costCenter')?.touched}">
                                    <option value="">Select </option>
                                    <option *ngFor="let item of costCenterList" [value]="item.id">{{ item.name }}
                                    </option>
                                </select>

                                <div class="form-check form-check-inline mr-3">
                                    <input type="radio" name="costDigit" class="form-check-input" value="5"
                                        formControlName="costDigit" id="digit5"
                                        [ngClass]="{'is-invalid': employeeForm.get('costDigit')?.invalid && employeeForm.get('costDigit')?.touched}" />
                                    <label class="form-check-label" for="digit5">5 Digit</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input type="radio" name="costDigit" class="form-check-input" value="6"
                                        formControlName="costDigit" id="digit6"
                                        [ngClass]="{'is-invalid': employeeForm.get('costDigit')?.invalid && employeeForm.get('costDigit')?.touched}" />
                                    <label class="form-check-label" for="digit6">6 Digit</label>
                                </div>


                            </div>

                        </div>

                        <!-- <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>Status</label>
                            <select formControlName="status" class="form-control form-control-sm "
                                [ngClass]="{ 'is-invalid': employeeForm.get('status')?.invalid && employeeForm.get('status')?.touched }">
                                <option value="">Select</option>
                                <option value="1">Active</option>
                                <option value="2">Closed</option>
                                <option value="3">Hold</option>
                            </select>
                        </div> -->
                        <!-- <div class='col-md-3'>
                            <label class='form-label form-label-small mt-2'>Action Date</label>
                            <input type="text" id="actionDate" class="form-control form-control-sm"
                                placeholder="dd-mm-yyyy" formControlName="actionDate" autocomplete="off" [bsConfig]="{
                                    adaptivePosition: true,
                                    showWeekNumbers: false,
                                    isAnimated: true,
                                    containerClass: colorTheme,
                                    customTodayClass: 'custom-today-class',
                                    dateInputFormat: 'DD-MMM-YYYY'
                                    }" bsDatepicker required readonly
                                [ngClass]="{ 'is-invalid': employeeForm.get('actionDate')?.invalid && employeeForm.get('actionDate')?.touched}" />
                        </div> -->

                        <!-- <div class='col-md-6'>
                            <label class='form-label form-label-small mt-2'>Reason</label>
                            <textarea class="form-control form-control-sm " noFirstSpace formControlName="reason"
                                placeholder="Enter Reason" rows="1" maxlength="500"
                                [ngClass]="{ 'is-invalid': employeeForm.get('reason')?.invalid && employeeForm.get('reason')?.touched }">
                            </textarea>

                        </div> -->

                        <!-- </div> -->
                    </div>
                </div>

                <div class="light-green-bg p-1 rounded fw-bold my-3">
                    Sales Office/group Mapping (Optional)
                </div>


                <div class="container-fluid">
                    <div class='row '>

                        <div class="col-md-3">
                            <label class="form-label form-label-small" for="salesState">Sales State/District</label>
                            <select class="form-control form-control-sm py-1" id="salesState"
                                formControlName="salesState">
                                <option value="">--Select One--</option>
                                <option *ngFor="let title of salesDistrictList" [value]="title?.salesdistcode">
                                    {{ title?.salesdistname }}
                                </option>
                            </select>
                        </div>


                        <div class='col-md-3'>
                            <label class='form-label form-label-small'>Sale Office(HQ)</label>
                            <select class="form-control form-control-sm py-1 " formControlName="salesOffice"
                                (change)="onSalesOfficeChange($event)"
                                [ngClass]="{'is-invalid': employeeForm.get('salesOffice')?.invalid && employeeForm.get('salesOffice')?.touched}">
                                <option value="">--Select One--</option>
                                <option *ngFor="let title of salesOfficeList" [value]="title?.salesofficecode">{{
                                    title?.salesofficename }}</option>
                            </select>
                            <!-- <div *ngIf="employeeForm.get('salesOffice')?.touched && employeeForm.get('salesOffice')?.hasError('required')"
                                    class="text-danger small mt-1">
                                    Sales Office is required.
                                </div> -->
                        </div>

                        <div class='col-md-3'>
                            <label class='form-label form-label-small'> Sale Group</label>
                            <select class="form-control form-control-sm py-1 " formControlName="salesGroup">
                                <option value="">--Select One--</option>
                                <option *ngFor="let title of salesGroupList" [value]="title?.SALESGROUPCODE">{{
                                    title?.SALESGROUPNAME }}</option>
                            </select>
                        </div>
                        <div class="col-md-3 mt-4">
                            <button class="btn btn-secondary btn-sm mr-2 shadow-none border-none px-4 " type="button"
                                (click)="reset()">Reset</button>
                            <button class="btn custom-bg btn-sm shadow-none border-none text-white px-4 "
                                type="submit">Save</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </form>

</div>



<div *ngIf="alertMessage" class="custom-alert alert alert-dismissible fade show d-flex align-items-center" [ngClass]="{
    'slide-in': alertMessage,
    'slide-out': !alertMessage,
    'alert-success': alertType === 'success',
    'alert-danger': alertType === 'danger'
  }" role="alert">
    <!-- Circular loader -->
    <div class="timer-circle mr-2"></div>

    <!-- Message -->
    <div class="flex-grow-1">
        {{ alertMessage }}
    </div>

    <!-- Close button -->
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="blur-loader-overlay" *ngIf="isLoading">
    <div class="blur-loader-spinner">
        <div class="bounce1 custom-bg"></div>
        <div class="bounce2 custom-bg"></div>
        <div class="bounce3 custom-bg"></div>
    </div>
</div>