<div class="container-fluid full-height-90" *ngIf="logginStatus">
    <div class="row h-100">
        <!-- Left Panel: Shown always in mobile, visible as background in desktop -->
        <div class="col-12 d-md-flex col-md-8 align-items-center text-white px-4 py-5 position-relative"
            style="background-image: url('../../../assets/img/job-code/login-bg.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">

            <!-- Header with logo and login button -->
            <div
                class="w-100 d-md-none d-flex justify-content-between align-items-center px-3 py-2 bg-white rounded-bottom shadow-sm">
                <img [src]="logo" alt="Hetero Healthcare Logo" class="img-fluid" style="height: 30px;" />

                <button class="btn btn-sm custom-bg text-white px-3 shadow-none" (click)="toggleLogin()">
                    Log In
                </button>
            </div>


            <!-- Left Panel Content -->
            <div class="w-100">
                <h3 class="mt-3 responsive-heading">
                    Join Hetero Healthcare’s diverse team, where innovation and collaboration create life-changing
                    healthcare solutions for patients worldwide.
                </h3>

                <div class="py-3">
                    <div class="mb-4">
                        <span class="fs-5 fw-semibold">Why Join Hetero Healthcare</span>
                    </div>

                    <div class="row g-3">
                        <div class="col-6 col-lg-3 mb-2 mb-lg-0">
                            <div class="card rounded-4 bg-light bg-gradient text-dark h-100">
                                <div class="card-body p-3 d-flex flex-column justify-content-between">
                                    <i class="bi bi-patch-check fs-5 mb-2"></i>
                                    <div class="fw-medium">Cutting-edge<br>Research & Development</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-lg-3 mb-2 mb-lg-0">
                            <div class="card rounded-4 bg-light bg-gradient text-dark h-100">
                                <div class="card-body p-3 d-flex flex-column justify-content-between">
                                    <i class="bi bi-patch-check fs-5 mb-2"></i>
                                    <div class="fw-medium">Inclusive &<br>Collaborative <br> Culture</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-lg-3">
                            <div class="card rounded-4 bg-light bg-gradient text-dark h-100">
                                <div class="card-body p-3 d-flex flex-column justify-content-between">
                                    <i class="bi bi-patch-check fs-5 mb-1"></i>
                                    <div class="fw-medium">Continuous Learning, Growth & <br> Innovation</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-lg-3">
                            <div class="card rounded-4 bg-light bg-gradient text-dark h-100">
                                <div class="card-body p-3 d-flex flex-column justify-content-between">
                                    <i class="bi bi-patch-check fs-5 mb-1"></i>
                                    <div class="fw-medium">Social Responsibility<br>& Community Engagement</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Right Panel: Login Form only shown on desktop or via popup on mobile -->
        <div class="col-12 col-md-4 d-none d-md-flex card justify-content-center align-items-center px-4 py-5">
            <div class="w-100" style="max-width: 400px">
                <img [src]="logo" alt="Logo" class="img-fluid mb-4" style="max-height: 40px;" />

                <div class="mb-4">
                    <h4 class="fw-bold">Welcome Back!</h4>
                    <span class="text-muted small d-block mb-2">
                        Login to complete your application, update personal details, and track your hiring process.
                    </span>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="mb-3">
                        <input type="email" id="email" class="form-control" noFirstSpace
                            [ngClass]="{ 'is-invalid': submitted && loginForm.get('email')?.invalid }"
                            formControlName="email" placeholder="Enter your email" />
                        <div *ngIf="submitted && loginForm.get('email')?.hasError('required')" class="text-danger">
                            <small>Email is required.</small>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input type="password" id="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && loginForm.get('password')?.invalid }"
                            formControlName="password" placeholder="Enter your password" />
                        <div *ngIf="submitted && loginForm.get('password')?.hasError('required')" class="text-danger">
                            <small>Password is required.</small>
                        </div>
                        <div *ngIf="submitted && loginForm.get('password')?.hasError('minlength')" class="text-danger">
                            <small>Password must be at least 6 characters long.</small>
                        </div>
                        <div *ngIf="submitted && loginForm.get('password')?.hasError('pattern')" class="text-danger">
                            <small>Password must include 1 uppercase, 1 number, and 1 special character.</small>
                        </div>
                    </div>

                    <button type="submit" class="btn custom-bg w-100 text-white">
                        Log In
                    </button>

                    <div class="text-muted small mt-2">
                        Your information is secure and only used for recruitment purposes.
                    </div>
                </form>
            </div>
        </div>
    </div>

    <ng-template #Login>
        <!-- <span>Rajender</span> -->
        <div class="bg-white">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0 fw-bold">Welcome Back!</h5>
                <span class="Hover text-danger" (click)="closeLogin()">
                    <i class="bi bi-x-circle fs-4 cursor-pointer"></i>
                </span>
            </div>
            <span class="text-muted small d-block mb-4">
                Login to update details and track your application.
             </span>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="mb-3">
                    <input type="email" id="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && loginForm.get('email')?.invalid }"
                        formControlName="email" placeholder="Enter your email" />
                    <div *ngIf="submitted && loginForm.get('email')?.hasError('required')" class="text-danger">
                        <small>Email is required.</small>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="password" id="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && loginForm.get('password')?.invalid }"
                        formControlName="password" placeholder="Enter your password" />
                    <div *ngIf="submitted && loginForm.get('password')?.hasError('required')" class="text-danger">
                        <small>Password is required.</small>
                    </div>
                    <div *ngIf="submitted && loginForm.get('password')?.hasError('minlength')" class="text-danger">
                        <small>Password must be at least 6 characters long.</small>
                    </div>
                    <div *ngIf="submitted && loginForm.get('password')?.hasError('pattern')" class="text-danger">
                        <small>Password must include 1 uppercase, 1 number, and 1 special character.</small>
                    </div>
                </div>

                <button type="submit" class="btn custom-bg w-100 text-white">
                    Log In
                </button>

                <div class="text-muted small mt-2">
                    Your data is secure and used for hiring only.
                </div>
            </form>
        </div>

    </ng-template>



</div>




<div class="loader attDnceLoadr" *ngIf="isLoading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>