<div class="container-fluid">
    <app-nav></app-nav>
</div>

<div class="container-fluid mt-3">
    <div class="row g-2">
        <div class="col-md-2 mb-2">
            <div class="card border-0 p-0 shadow">
                <div class="card-body p-2">
                    <app-asset-manager-side-bar></app-asset-manager-side-bar>
                </div>
            </div>
        </div>
        <!-- Right side content -->
        <div class="col-md-10">
            <div class="card py-1 border-0">
                <div class="card-body py-1">

                    <div class="row mb-2 align-items-center">
                        <div class="col-md-6">
                            <span class="fw-bold text-dark">
                                <!-- <i class="bi bi-arrow-left-circle-fill me-2" style="cursor: pointer;" (click)="goBack()"></i> -->
                                Voice Process Candidates
                                <span class="badge bg-dark text-white">{{ rows.length }}</span>
                            </span>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end align-items-center">
                            <input type="search" class="form-control form-control-sm search-input"
                                placeholder="🔍 Search" [formControl]="searchQuery" aria-level="Search"
                                style="max-width: 150px; font-size: 13px;">
                            <!-- <button type="button" (click)="toggleOffcanvas()" class="btn btn-sm custom-bg text-light">
                  Filter Options
                </button> -->
                        </div>
                    </div>
                    <div class="scroll-container p-0">
                        <table class="table table-bordered">
                            <thead class="custom-bg">
                                <tr class="text-light">
                                    <th *ngFor="let col of columns" class="small-header-th sticky-col"
                                        [ngClass]="{'text-center': col.center}">
                                        {{ col.label }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="paginatedRows.length > 0; else noData">
                                <tr *ngFor="let row of paginatedRows" class="table-hoverr">
                                    <td *ngFor="let col of columns" class="small-header"
                                        [ngClass]="{'text-uppercase': col.uppercase, 'text-center': col.center}">

                                        <!-- Action buttons column -->
                                        <ng-container
                                            *ngIf="col.clickable && col.key === 'candidateId'; else normalCell">
                                            <!-- If interviewRound === 3 -->
                                            <ng-container>
                                                <button
                                                    class="border-none bg-success text-white custom-action-btn px-2 mr-2"
                                                    (click)="approveHrCandidate(row.candidateId,row.interviewScheduledId)">
                                                    Approve
                                                </button>
                                                <button class="border-none bg-danger text-white custom-action-btn px-2"
                                                    (click)="rejectHrCandidate(row.candidateId,row.interviewScheduledId)">
                                                    Reject
                                                </button>
                                            </ng-container>
                                        </ng-container>

                                        <!-- Normal cell content -->
                                        <ng-template #normalCell>
                                            <span [innerHTML]="highlightMatch(row[col.key])"></span>
                                        </ng-template>

                                    </td>
                                </tr>
                            </tbody>

                            <ng-template #noData>
                                <tbody class="bg-white">
                                    <tr>
                                        <td [attr.colspan]="columns.length">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="">
                                                    <!-- No data available -->
                                                    <img src="https://assets-v2.lottiefiles.com/a/92920ca4-1174-11ee-9d90-63f3a87b4e3d/xxNZvglgy1.gif"
                                                        width="150px" height="150px" alt="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-template>
                        </table>


                    </div>

                    <!-- Pagination Controls -->
                    <hr *ngIf="rows.length > 0" class="custom-hr mb-2 mt-1">
                    <div class="d-flex justify-content-between align-items-center mt-1" *ngIf="rows.length > 0">
                        <span class="small badge bg-secondary text-white">
                            Showing {{ startIndex }} to {{ endIndex }} of {{ rows.length }} Records
                        </span>

                        <ul class="pagination pagination-sm mb-1">
                            <!-- Always show Previous button but disable if on first page -->
                            <li class="page-item" [class.disabled]="currentPage === 1">
                                <button type="button" class="border-none text-white custom-action-btn px-2 py-1 mr-2"
                                    (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
                                    [ngClass]="{'custom-bg': currentPage > 1, 'bg-secondary': currentPage === 1}">
                                    <i class="bi bi-chevron-left"></i>
                                </button>
                            </li>

                            <li class="page-item mr-2">
                                <span class="px-3 py-1 small text-dark fw-bold border rounded bg-light">
                                    Page {{ currentPage }} of {{ totalPages }}
                                </span>
                            </li>
                            <!-- Always show Next button but disable if on last page -->
                            <li class="page-item" [class.disabled]="currentPage === totalPages">
                                <button type="button" class="border-none text-white custom-action-btn px-2 py-1 mr-2"
                                    (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages"
                                    [ngClass]="{'custom-bg': currentPage < totalPages, 'bg-secondary': currentPage === totalPages}">
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #approve>
    <div class="" style="max-width: 700px; width: 100%; overflow: hidden;">
        <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
            <div class="table-responsive">
                <table class="table table-bordered text-center table-sm small-table">
                    <thead class="table-primary">
                        <tr>
                            <th>S.No</th>
                            <th>Factors</th>
                            <th>Excellent</th>
                            <th>Good</th>
                            <th>Average</th>
                            <th>Below Average</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let factor of feedbackFactorsData; let i = index"
                            [formGroup]="feedbackArray.controls[i]">
                            <td>{{ i + 1 }}</td>
                            <td>{{ factor.name }}</td>
                            <td><input type="radio" formControlName="feedbackId" value="1" /></td>
                            <td><input type="radio" formControlName="feedbackId" value="2" /></td>
                            <td><input type="radio" formControlName="feedbackId" value="3" /></td>
                            <td><input type="radio" formControlName="feedbackId" value="4" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="!feedbackForm.valid && feedbackForm.touched && areRadioFieldsInvalid()"
                class="text-danger fs-custom">
                Please select at least one option
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comments">Comments</label>
                        <textarea id="comments" class="form-control" rows="1" formControlName="comments"
                            placeholder="Enter your comments"></textarea>

                        <!-- Validation message -->
                        <div *ngIf="feedbackForm.get('comments')?.invalid && feedbackForm.get('comments')?.touched"
                            class="text-danger small mt-1">
                            Comments are required.
                        </div>
                    </div>
                </div>
            </div>




            <div class="row g-3">



                <div class="col-md-3">
                    <label>Joining Date:</label>
                    <input type="text" id="interviewDate" class="form-control form-control-sm" placeholder="DD-MM-YYYY"
                        formControlName="joiningDate" autocomplete="off" [bsConfig]="{
                      adaptivePosition: true,
                      showWeekNumbers: false,
                      isAnimated: true,
                      containerClass: colorTheme,
                      customTodayClass: 'custom-today-class',
                      dateInputFormat: 'DD-MM-YYYY'
                    }" [minDate]="minDate" [maxDate]="maxDate" bsDatepicker required readonly />

                    <div *ngIf="feedbackForm.controls['joiningDate'].invalid && feedbackForm.controls['joiningDate'].touched"
                        class="text-danger fs-custom">
                        Join Date is required.
                    </div>
                </div>

                <div class="col-md-3">
                    <label>Proposed CTC:</label>
                    <input type="text" formControlName="expectedCTC" class="form-control" placeholder="₹ amount"
                        (keypress)="allowNumericWithDot($event)" maxlength="8">
                    <div *ngIf="feedbackForm.controls['expectedCTC'].invalid && feedbackForm.controls['expectedCTC'].touched"
                        class="text-danger fs-custom">
                        Expected CTC is required.
                    </div>
                </div>

                <div class="col-md-3">
                    <label>Division:</label>
                    <select class="form-control form-control-sm" [value]="feedbackForm.get('division')?.value"
                        (change)="onDivisionChange($event.target.value)" formControlName="division">
                        <option value="">Select</option>
                        <option *ngFor="let state of totalDivisionsList" [value]="state.id">
                            {{ state.name }}
                        </option>
                    </select>

                    <div *ngIf="feedbackForm.get('division')?.invalid && feedbackForm.get('division')?.touched"
                        class="text-danger fs-custom">
                        Division is required.
                    </div>
                </div>


                <div class="col-md-3">
                    <label>Designation:</label>
                    <select formControlName="designation" class="form-control form-control-sm">
                        <option value="">Select</option>
                        <option *ngFor="let state of totalDesignationsList" [value]="state.id">
                            {{ state.name }}
                        </option>
                    </select>
                    <div *ngIf="feedbackForm.controls['designation'].invalid && feedbackForm.controls['designation'].touched"
                        class="text-danger fs-custom">
                        Designation is required.
                    </div>
                </div>


                <div class="col-md-3">
                    <label>Department:</label>
                    <select formControlName="department" class="form-control form-control-sm">
                        <option value="">Select</option>
                        <option *ngFor="let state of totalDepartmentsList" [value]="state.id">
                            {{ state.name }}
                        </option>
                    </select>
                    <div *ngIf="feedbackForm.controls['department'].invalid && feedbackForm.controls['department'].touched"
                        class="text-danger fs-custom">
                        Department is required.
                    </div>
                </div>

                <div class="col-md-3">
                    <label>State:</label>
                    <select class="form-control form-control-sm" [value]="feedbackForm.get('state')?.value"
                        (change)="onStateChange($event)">
                        <option value="">Select</option>
                        <option *ngFor="let state of totalStatesList" [value]="state.id">
                            {{ state.name }}
                        </option>
                    </select>

                    <div *ngIf="feedbackForm.get('state')?.invalid && feedbackForm.get('state')?.touched"
                        class="text-danger fs-custom">
                        State is required.
                    </div>
                </div>


                <div class="col-md-3">
                    <label>HQ:</label>
                    <select class="form-control form-control-sm" (change)="onHqChange($event)">
                        <option value="">Select</option>
                        <option *ngFor="let state of totalCitiesList" [value]="state.id">
                            {{ state.name }}
                        </option>
                    </select>
                    <div *ngIf="feedbackForm.get('hq')?.invalid && feedbackForm.get('hq')?.touched"
                        class="text-danger fs-custom">
                        HQ is required.
                    </div>
                </div>


                <div class="col-md-3">
                    <label>Region:</label>
                    <select class="form-control form-control-sm" [value]="feedbackForm.get('region')?.value"
                        (change)="onRegionChange($event)">
                        <option value="">Select</option>
                        <option *ngFor="let state of totalRegionsList" [value]="state.id">
                            {{ state.name }}
                        </option>
                    </select>

                    <div *ngIf="feedbackForm.get('region')?.invalid && feedbackForm.get('region')?.touched"
                        class="text-danger fs-custom">
                        Region is required.
                    </div>
                </div>



            </div>
            <div class="d-flex justify-content-center gap-2 mt-4">
                <button type="button" class="btn btn-sm btn-danger mr-2 shadow-none" (click)="close()">Cancel</button>
                <button type="submit" class="btn btn-sm custom-bg text-white shadow-none">Submit</button>
            </div>
        </form>
    </div>
</ng-template>

<div class="loader attDnceLoadr" *ngIf="isLoading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>