<div class="container-fluid">
    <app-nav></app-nav>
</div>

<div class="container-fluid mt-3">
    <div class="row g-2">
        <div class="col-md-2 mb-2">
            <div class="card border-0 p-0 shadow">
                <div class="card-body p-2">
                    <app-asset-manager-side-bar></app-asset-manager-side-bar>
                </div>
            </div>
        </div>
        <!-- Right side content -->
        <div class="col-md-10">
            <div class="card py-1 border-0">
                <div class="card-body py-1">

                    <div class="row mb-2 align-items-center">
                        <div class="col-md-6">
                            <span class="fw-bold text-dark">
                                <!-- <i class="bi bi-arrow-left-circle-fill me-2" style="cursor: pointer;" (click)="goBack()"></i> -->
                                Voice Process Candidates
                                <span class="badge bg-dark text-white">{{ rows.length }}</span>
                            </span>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end align-items-center">
                            <input type="search" class="form-control form-control-sm search-input"
                                placeholder="🔍 Search" [formControl]="searchQuery" aria-level="Search"
                                style="max-width: 150px; font-size: 13px;">
                            <!-- <button type="button" (click)="toggleOffcanvas()" class="btn btn-sm custom-bg text-light">
                  Filter Options
                </button> -->
                        </div>
                    </div>
                    <div class="scroll-container p-0">
                        <table class="table table-bordered">
                            <thead class="custom-bg">
                                <tr class="text-light">
                                    <th *ngFor="let col of columns" class="small-header-th sticky-col"
                                        [ngClass]="{'text-center': col.center}">
                                        {{ col.label }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="paginatedRows.length > 0; else noData">
                                <tr *ngFor="let row of paginatedRows" class="table-hoverr">
                                    <td *ngFor="let col of columns" class="small-header"
                                        [ngClass]="{'text-uppercase': col.uppercase, 'text-center': col.center}">

                                        <!-- Action buttons column -->
                                        <ng-container
                                            *ngIf="col.clickable && col.key === 'candidateId'; else normalCell">
                                            <!-- If interviewRound === 3 -->
                                            <ng-container>
                                                <button
                                                    class="border-none bg-success text-white custom-action-btn px-2 mr-2"
                                                    (click)="approveHrCandidate(row.candidateId,row.interviewRound)">
                                                    Approve
                                                </button>
                                                <button class="border-none bg-danger text-white custom-action-btn px-2"
                                                    (click)="rejectHrCandidate(row.candidateId,row.interviewRound)">
                                                    Reject
                                                </button>
                                            </ng-container>
                                        </ng-container>

                                        <!-- Normal cell content -->
                                        <ng-template #normalCell>
                                            <span [innerHTML]="highlightMatch(row[col.key])"></span>
                                        </ng-template>

                                    </td>
                                </tr>
                            </tbody>

                            <ng-template #noData>
                                <tbody class="bg-white">
                                    <tr>
                                        <td [attr.colspan]="columns.length">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="">
                                                    <!-- No data available -->
                                                    <img src="https://assets-v2.lottiefiles.com/a/92920ca4-1174-11ee-9d90-63f3a87b4e3d/xxNZvglgy1.gif"
                                                        width="150px" height="150px" alt="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-template>
                        </table>


                    </div>

                    <!-- Pagination Controls -->
                    <hr *ngIf="rows.length > 0" class="custom-hr mb-2 mt-1">
                    <div class="d-flex justify-content-between align-items-center mt-1" *ngIf="rows.length > 0">
                        <span class="small badge bg-secondary text-white">
                            Showing {{ startIndex }} to {{ endIndex }} of {{ rows.length }} Records
                        </span>

                        <ul class="pagination pagination-sm mb-1">
                            <!-- Always show Previous button but disable if on first page -->
                            <li class="page-item" [class.disabled]="currentPage === 1">
                                <button type="button" class="border-none text-white custom-action-btn px-2 py-1 mr-2"
                                    (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
                                    [ngClass]="{'custom-bg': currentPage > 1, 'bg-secondary': currentPage === 1}">
                                    <i class="bi bi-chevron-left"></i>
                                </button>
                            </li>

                            <li class="page-item mr-2">
                                <span class="px-3 py-1 small text-dark fw-bold border rounded bg-light">
                                    Page {{ currentPage }} of {{ totalPages }}
                                </span>
                            </li>
                            <!-- Always show Next button but disable if on last page -->
                            <li class="page-item" [class.disabled]="currentPage === totalPages">
                                <button type="button" class="border-none text-white custom-action-btn px-2 py-1 mr-2"
                                    (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages"
                                    [ngClass]="{'custom-bg': currentPage < totalPages, 'bg-secondary': currentPage === totalPages}">
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>






<ng-template #reprocess>
    <div class="" style="max-width: 600px; width: 100%; overflow: hidden;">

        <!-- Header -->
        <!-- <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="mb-0">Reprocess</h5>
            <button type="button" class="btn btn-sm shadow-none " (click)="close()">
                <i class="bi bi-x-circle fs-5 text-danger" (click)="close()"></i>
            </button>
        </div> -->

        <!-- <hr class="p-0 m-0 mb-2" /> -->

        <!-- Form -->
        <form [formGroup]="reprocessForm" (ngSubmit)="submitFeedback()">
            <div class="table-responsive">
                <table class="table table-bordered text-center table-sm small-table">
                    <thead class="table-primary">
                        <tr>
                            <th>S.No</th>
                            <th>Factors</th>
                            <th>Excellent</th>
                            <th>Good</th>
                            <th>Average</th>
                            <th>Below Average</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let factor of feedbackFactorsData; let i = index"
                            [formGroup]="feedbackArray.controls[i]">
                            <td>{{ i + 1 }}</td>
                            <td>{{ factor.name }}</td>
                            <td><input type="radio" formControlName="feedbackId" value="1" /></td>
                            <td><input type="radio" formControlName="feedbackId" value="2" /></td>
                            <td><input type="radio" formControlName="feedbackId" value="3" /></td>
                            <td><input type="radio" formControlName="feedbackId" value="4" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="!feedbackForm.valid && feedbackForm.touched && areRadioFieldsInvalid()"
                class="text-danger fs-custom">
                Please select at least one option
            </div>



            <div class="row g-3">

                <!-- Dropdown -->
                <div class="col-md-6">
                    <label class="form-label">Assign Next Round <span class="text-danger">*</span></label>
                    <select class="form-select form-select-sm w-100" formControlName="interviewRound">
                        <option value="">Select</option>
                        <option *ngFor="let item of interviewRounds" [value]="item?.id">{{ item?.name }}</option>
                    </select>
                    <div *ngIf="reprocessForm.get('interviewRound')?.invalid && reprocessForm.get('interviewRound')?.touched"
                        class="text-danger small mt-1">
                        Next round option is required.
                    </div>
                </div>

                <!-- Search Field with Scrollable Dropdown -->
                <div class="col-md-6 position-relative">
                    <label class="form-label">Interviewer <span class="text-danger">*</span></label>

                    <ul *ngIf="showDropdown && interviewedByList.length > 0"
                        class="dropdown-menu show w-100 position-absolute p-0"
                        style="z-index: 1050; max-height: 80px; overflow-y: auto; top: 100%; font-size: 0.85rem;">
                        <li *ngFor="let item of interviewedByList" (mousedown)="selectInterviewer(item)"
                            class="dropdown-item py-1 px-2">
                            {{ item?.id }} - {{ item?.name }}
                        </li>
                    </ul>

                    <input type="search" class="form-control form-control-sm" formControlName="interviewBy"
                        placeholder="Search interviewer" [value]="selectedInterviewerName || ''"
                        (input)="searchInterviewer($event.target.value)" (focus)="showDropdown = true"
                        (blur)="hideDropdown()" autocomplete="off">

                    <div *ngIf="reprocessForm.get('interviewBy')?.invalid && reprocessForm.get('interviewBy')?.touched"
                        class="text-danger small mt-1">
                        Interviewer is required.
                    </div>
                </div>

            </div>

            <!-- Buttons -->
            <div class="d-flex justify-content-center gap-2 mt-4">
                <button type="button" class="btn btn-sm btn-danger mr-2 shadow-none" (click)="close()">Cancel</button>
                <button type="submit" class="btn btn-sm custom-bg text-white shadow-none">Submit</button>
            </div>
        </form>
    </div>
</ng-template>








<div class="loader attDnceLoadr" *ngIf="isLoading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>