<!-- <div class="container-fluid card d-flex align-items-center justify-content-center custom-height "
    style=" padding: 15px;">
    <div class="row w-100 justify-content-center align-items-center">


        <div
            class="col-12 d-md-flex col-md-8 d-none d-md-block align-items-center custom-bg text-white px-4 py-5 position-relative custom-b">

            <div
                class="w-100 d-md-none d-flex justify-content-between align-items-center px-3 py-2 bg-white rounded-bottom shadow-sm">

                <button class="btn btn-sm custom-bg text-white px-3 shadow-none">
                    Log In
                </button>
            </div>


            <div class="w-100">
                <h3 class="mt-3 welcome-heading">
                    Welcome to iConnect reset your password securely, keep details private, always log out properly, and
                    ensure data safety.</h3>

                <div class="py-3">
                    <div class="mb-4">
                        <span class="fs-5 fw-semibold">Please Follow Our Guidelines…</span>
                    </div>

                    <div class="row g-3">
                        <div class="col-6 col-lg-3 mb-2 mb-lg-0">
                            <div class="card rounded-4 bg-light bg-gradient text-dark h-100">
                                <div class="card-body p-3 d-flex flex-column justify-content-between">
                                    <img [src]="checkIcon" class="mb-2 text-white fs-small" alt="" width="25%"
                                        height="25%">
                                    <div class="fw-medium">Keep your account secure. Protect your password at all times
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-lg-3 mb-2 mb-lg-0">
                            <div class="card rounded-4 bg-light bg-gradient text-dark h-100">
                                <div class="card-body p-3 d-flex flex-column justify-content-between">
                                    <img [src]="checkIcon" class="mb-2 text-white fs-small" alt="" width="25%"
                                        height="25%">
                                    <div class="fw-medium">Salary details must remain confidential <br> & Keep salary
                                        private</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-lg-3">
                            <div class="card rounded-4 bg-light bg-gradient text-dark h-100">
                                <div class="card-body p-3 d-flex flex-column justify-content-between">
                                    <img [src]="checkIcon" class="mb-2 text-white fs-small" alt="" width="25%"
                                        height="25%">
                                    <div class="fw-medium">Keep your payslip confidential. Do not share it with others.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-lg-3">
                            <div class="card rounded-4 bg-light bg-gradient text-dark h-100">
                                <div class="card-body p-3 d-flex flex-column justify-content-between">
                                    <img [src]="checkIcon" class="mb-2 text-white fs-small" alt="" width="25%"
                                        height="25%">
                                    <div class="fw-medium">Read the T&C's before applying for leave or punch in & out.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12  w-100  p-4 d-flex align-items-center justify-content-center">
            <div class="card shadow p-4 border-0" style="border-radius: 12px;">
                <h4 class="text-center mb-4" style="font-weight: bold; color:#333;">Reset Your Password</h4>

                <form [formGroup]="passwordForm" (ngSubmit)="updatePasswrd()">
                    <div class="form-group mb-3">
                        <label class="fw-bold">New Password</label>
                        <div class="input-group">
                            <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
                                class="form-control shadow-none" placeholder="Enter New Password" maxlength="15"
                                [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
                                (keydown.space)="$event.preventDefault()" blockCopyPaste />
                            <span class="input-group-text" style="cursor:pointer;" (click)="toggleField('new')">
                                <i class="fa"
                                    [ngClass]="{'fa-eye-slash': !showNewPassword,'fa-eye': showNewPassword}"></i>
                            </span>
                        </div>
                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback d-block">
                            <div *ngIf="f.newPassword.errors.required">Password is required</div>
                            <div *ngIf="f.newPassword.errors.maxlength">Password max length 15 characters</div>
                            <div *ngIf="f.newPassword.errors.pattern">Minimum one letter, one special character
                                [!,@,#,$,&], and one number</div>
                            <div *ngIf="f.newPassword.errors.minlength">Password must be 8 or more characters</div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="fw-bold">Confirm Password</label>
                        <div class="input-group">
                            <input [type]="showConfrmPassword ? 'text' : 'password'" formControlName="confrmPassword"
                                class="form-control shadow-none" placeholder="Enter Confirm Password" maxlength="15"
                                [ngClass]="{ 'is-invalid': submitted && f.confrmPassword.errors }"
                                (keydown.space)="$event.preventDefault()" blockCopyPaste />
                            <span class="input-group-text" style="cursor:pointer;" (click)="toggleField('confrm')">
                                <i class="fa"
                                    [ngClass]="{'fa-eye-slash': !showConfrmPassword,'fa-eye': showConfrmPassword}"></i>
                            </span>
                        </div>
                        <div *ngIf="submitted && f.confrmPassword.errors" class="invalid-feedback d-block">
                            <div *ngIf="f.confrmPassword.errors.notEquivalent">Password mismatch</div>
                            <div *ngIf="f.confrmPassword.errors.required">Password is required</div>
                        </div>
                    </div>

                    <div class="alert alert-light shadow-sm border mt-3">
                        <ul class="mb-0" style="padding-left: 18px; font-size: 14px;">
                            <li>Password should be 8-15 characters with at least one letter</li>
                            <li>Include at least one number</li>
                            <li>Include at least one special character [!, @, #, $, &]</li>
                        </ul>
                    </div>

                    <div class="text-center mt-4">
                        <button class="btn custom-bg text-white px-4 border-0 shadow-none " type="submit"
                            [disabled]="disableButton">Confirm </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div> -->






















<!-- second UI -->






<div class="container-fluid d-flex align-items-center justify-content-center custom-height" >
    <div class="row w-100 shadow-lg rounded-4 overflow-hidden " style="border-radius: 10px;">
        <div class="col-lg-7 custom-bg text-white d-flex flex-column justify-content-center px-5">
            <h2 class="fw-bold">Welcome to iConnect</h2>
            <span class="lead">Reset your password securely, keep details private, always log out properly, and ensure data
                safety.</span>

            <h5 class="fw-semibold mt-3">Please Follow Our Guidelines:</h5>

            <div class="row g-3 mt-2">
                <div class="col-6">
                    <div class="card h-100 shadow-sm border-0 rounded-3">
                        <div class="card-body text-dark small">
                            <img [src]="checkIcon" class="mb-2 text-white" alt="" width="15%" height="15%">
                            <p class="mb-0 fw-semibold">Keep your account secure. Protect your password always.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card h-100 shadow-sm border-0 rounded-3">
                        <div class="card-body text-dark small">
                            <img [src]="checkIcon" class="mb-2 text-white fs-small" alt="" width="15%" height="15%">
                            <p class="mb-0 fw-semibold">Salary details must remain confidential & private.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <div class="card h-100 shadow-sm border-0 rounded-3">
                        <div class="card-body text-dark small">
                            <img [src]="checkIcon" class="mb-2 text-white fs-small" alt="" width="15%" height="15%">
                            <p class="mb-0 fw-semibold">Keep your payslip confidential. Do not share with anyone</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <div class="card h-100 shadow-sm border-0 rounded-3">
                        <div class="card-body text-dark small">
                            <img [src]="checkIcon" class="mb-2 text-white fs-small" alt="" width="15%" height="15%">
                            <p class="mb-0 fw-semibold">Read the T&C's before applying for leave or punching in/out.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="col-lg-5 bg-light d-flex align-items-center justify-content-center  bg-overlay"
            style="box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;"> -->
            <div class="col-lg-5 bg-light d-flex align-items-center justify-content-center  bg-overlay">
            <div class="border-0 rounded-4 p-5 w-100">

                <div class="text-center mb-3">
                    <i class="fa fa-lock text-danger" style="font-size: 48px;"></i>
                </div>
                <h4 class="fw-bold text-center mb-4" style="color: #2d3e50;">Reset Your Password</h4>

                <form [formGroup]="passwordForm" (ngSubmit)="updatePasswrd()" autocomplete="off">
                    <div class="mb-3">
                        <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
                            class="form-control form-control-lg rounded-3 shadow-sm" placeholder="New Password" autocomplete="off"
                            maxlength="15" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
                            (keydown.space)="$event.preventDefault()" blockCopyPaste (input)="checkPasswordMatch()" />
                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback d-block small mt-1">
                            <div *ngIf="f.newPassword.errors.required">Password is required</div>
                            <div *ngIf="f.newPassword.errors.maxlength">Max 15 characters allowed</div>
                            <div *ngIf="f.newPassword.errors.pattern">Must include a letter, number & special character
                            </div>
                            <div *ngIf="f.newPassword.errors.minlength">Minimum 8 characters required</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input [type]="showConfrmPassword ? 'text' : 'password'" formControlName="confrmPassword"
                            class="form-control form-control-lg rounded-3 shadow-sm" placeholder="Confirm Password" autocomplete="off"
                            maxlength="15" [ngClass]="{ 'is-invalid': submitted && f.confrmPassword.errors }"
                            (keydown.space)="$event.preventDefault()" blockCopyPaste
                            (input)="checkStrength($event.target.value)" (input)="checkPasswordMatch()" />
                        <div *ngIf="submitted && f.confrmPassword.errors" class="invalid-feedback d-block small mt-1">
                            <div *ngIf="f.confrmPassword.errors.notEquivalent">Password mismatch</div>
                            <div *ngIf="f.confrmPassword.errors.required">Password is required</div>
                        </div>
                    </div>

                    <div *ngIf="matchSuccess" class="text-center my-2 text-success" style="font-weight: bolder;">
                        ✨ Passwords Match! ✨
                    </div>

                     <div *ngIf="!matchSuccess && f.confrmPassword.value" class="text-center my-2 text-danger" style="font-weight: bolder;">
                        ✨ Passwords Not Match! ✨
                    </div>

                    <div class="card shadow-sm border-0 mb-3 p-3 small text-muted" style="border-radius: 8px;">
                        <ul class="list-unstyled mb-0">
                            <li>✔ 8–15 characters with at least one letter</li>
                            <li>✔ At least one number</li>
                            <li>✔ At least one special character [!, @, #, $, &]</li>
                        </ul>
                    </div>
                    <div *ngIf="f.confrmPassword.value" class="mt-2">
                        <div class="progress" style="height: 8px; border-radius: 5px;">
                            <div class="progress-bar" role="progressbar" [style.width.%]="strength.percent"
                                [ngClass]="strength.class">
                            </div>
                        </div>
                        <small class="d-block mt-1 fw-semibold" [style.color]="strength.color">
                            {{ strength.label }}
                        </small>
                    </div>

                    <div class="d-grid mt-4">
                        <button class="btn custom-bg btn-sm text-white btn-lg fw-semibold rounded-3 shadow-sm"
                            type="submit" [disabled]="disableButton">
                            Reset Password
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>