.col-md-2
  padding-left: 5px
  padding-right: 0
.col-md-10
  padding-left: 5px  
.custom-bg
  background-color: #0072BC 
.custom-text
  color: #0072bc   
.small-header
  font-size: 12px
  padding: 5px 10px
  line-height: 1.5

.cursor-pointer
  cursor: pointer
th, td
  white-space: nowrap // Prevent text from wrapping to the next line
  overflow: hidden     // Hide any overflowing content
  text-overflow: ellipsis // Add ellipsis (...) if content overflows    

.scroll-container
  max-height: calc(100vh - 219px)
  overflow-y: auto
  display: block  

//.scroll-container
  max-height: calc(100vh - 200px)
  overflow-y: scroll // Keep scrolling functionality
  display: block
  max-width: 100%
  position: relative

  // Hide scrollbar for Webkit-based browsers (Chrome, Safari, Edge)
  &::-webkit-scrollbar
    display: none

  // Hide scrollbar for Firefox
  scrollbar-width: none

  // Hide scrollbar for Internet Explorer 10+
  -ms-overflow-style: none


thead th
  position: -webkit-sticky
  position: sticky
  top: 0px
  background: #0072BC
  color: white
  vertical-align: middle

input:focus, select:focus, textarea:focus
  border-color: black !important // Override Bootstrap default blue
  box-shadow: none !important // Remove default Bootstrap shadow

// Make the input fields smaller
input, select, textarea
  font-size: 0.875rem // Small font size
  padding: 0.25rem 0.5rem // Reduce padding for a smaller look
  height: auto // Ensure height is adjusted correctly 


button
  &:active
    box-shadow: none !important
    outline: none !important
.fw-bold
  font-weight: bold
.custom-hr
  border: 1px solid #0072BC !important   
.table-hoverr:hover
  background-color: rgba(0, 114, 188, 0.1)
  color: #0072BC
  cursor: pointer




//offcanvas

$offcanvas-width: 300px
$offcanvas-bg: white
$offcanvas-shadow: -2px 0 5px rgba(0, 0, 0, 0.2)
$offcanvas-transition: right 0.3s ease-in-out
$z-index-offcanvas: 1050

.offcanvas-right
  position: fixed
  top: 0
  right: -$offcanvas-width
  width: $offcanvas-width
  height: 100%
  background-color: $offcanvas-bg
  box-shadow: $offcanvas-shadow
  transition: $offcanvas-transition
  z-index: $z-index-offcanvas
  overflow-y: auto

  &.show
    right: 0

.offcanvas-header
  padding: 1rem
  border-bottom: 1px solid #dee2e6
  display: flex
  justify-content: space-between
  align-items: center

.offcanvas-body
  padding: 1rem

.Hover:hover 
  color: red  

.text-decoration-underline
  text-decoration: underline 


@keyframes zoomIn
  0%
    transform: scale(0)
    opacity: 0
  100%
    transform: scale(1)
    opacity: 1

.animate-zoom
  animation: zoomIn 0.5s ease-out



.custom-action-btn 
  line-height: 1.5
  font-size: 12px
  border-radius: 5px
  border: none
  &:active,
  &:focus 
    border: none
    outline: none
.fs-custom
  font-size: 10px   


.custom-scroll
  max-height: 150px  // Set max height
  overflow-y: auto   // Enable scrolling

  // Customize scrollbar for WebKit browsers (Chrome, Edge, Safari)
  &::-webkit-scrollbar
    width: 5px  // Small width

  &::-webkit-scrollbar-thumb
    background-color: #0072BC  // Light gray scrollbar
    border-radius: 10px  // Rounded scrollbar

    &:hover
      background-color: #0072BC  // Slightly darker on hover



   
.table-container 
  overflow-x: auto

.custom-table 
  width: 100%
  border-collapse: collapse
  table-layout: auto // Ensures better content fit

.custom-th, .custom-td 
  padding: 8px
  border: 1px solid #dee2e6 // Bootstrap default border color
  text-align: left
  vertical-align: middle

.custom-th 
  background-color: #343a40 // Dark background for the header
  color: #ffffff
  font-weight: bold
  text-align: center

.custom-td 
  white-space: nowrap // Prevents text from wrapping (remove if you want wrapping)
  overflow: hidden
  text-overflow: ellipsis

.text-break 
  word-wrap: break-word
  word-break: break-word
  white-space: normal // Allows text to wrap properly
.text-single-line
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis



$orange-dark: #f57c00
.text-orange-dark
  color: $orange-dark !important
button
  &:focus,
  &:active
    box-shadow: none !important
    outline: none !important






.toggle-icon-btn
  position: absolute
  top: 15px
  right: -12px
  z-index: 1050
  background-color: #0072bc
  color: white
  border: none
  border-radius: 50%
  width: 28px
  height: 28px
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  cursor: pointer
  transition: all 0.3s ease

  i
    font-size: 14px

  &:hover
    background-color: darken(#0072bc, 10%)
.toggle-icon-btn-collapsed
  position: absolute
  top: 10px
  left: 20px
  transform: translateX(-50%)
  z-index: 1050
  background-color: #0072bc
  color: white
  border: none
  border-radius: 50%
  width: 28px
  height: 28px
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  cursor: pointer
  transition: all 0.3s ease

  i
    font-size: 14px

  &:hover
    background-color: darken(#0072bc, 10%)
.text-break 
  word-wrap: break-word
  word-break: break-word
  white-space: normal // Allows text to wrap properly