<div class="container-fluid">
  <app-nav></app-nav>
</div>

<div class="container-flui mt-3">
  <div class="row g-2 position-relative">
    <div class="col-md-2 mb-2 position-relative sidebar-wrapper">
      <div class="card border-0 p-0 shadow">
        <div class="card-body p-2">
          <app-asset-manager-side-bar></app-asset-manager-side-bar>
        </div>
        <!-- <button *ngIf="closeButton" class="toggle-icon-btn d-none d-md-block" (click)="toggleSidebar()">
          <i class="bi" [ngClass]="isSidebarOpen ? 'bi-chevron-left' : 'bi-chevron-right'"></i>
        </button> -->
      </div>
    </div>
    <!-- <button *ngIf="!isSidebarOpen && closeButton" class="toggle-icon-btn-collapsed d-none d-md-block"
      (click)="toggleSidebar()">
      <i class="bi bi-chevron-right"></i>
    </button> -->
    <div class="pad col-md-10">
      <div class="card py-1 border-0">
        <div class="card-body py-1">
          <div class="row mb-2 align-items-center">
            <div class="col-md-3">
              <span class="fw-bold text-dark">
                Interview Schedule
                <span class="badge badge-light  badge bg-dark text-white">{{totalRecords}}</span>
              </span>
            </div>
            <div class="col-md-9 d-flex justify-content-end align-items-center">
              <input type="search" class="form-control form-control-sm search-input" placeholder="🔍 Search"
                [formControl]="searchQuery" aria-level="Search" style="max-width: 150px; font-size: 13px;">
              <!-- <i class="fa fa-search"></i> -->
              <!-- <button type="button" (click)="toggleOffcanvas()" class="btn btn-sm custom-bg text-light">
                Filter Options
              </button> -->
            </div>
          </div>
          <div class="scroll-container p-0">
            <table class="table table-bordered">
              <thead class="custom-bg">
                <tr class="text-light">
                  <th *ngFor="let col of columns" class="small-header sticky-col"
                    [ngClass]="{'text-center': col.center}">
                    {{ col.label }}
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="rows.length > 0; else noData">
                <tr *ngFor="let row of rows" class="table-hoverr">
                  <td *ngFor="let col of columns" class="small-header"
                    [ngClass]="{'text-uppercase': col.uppercase, 'text-center': col.center}">

                    <!-- <ng-container *ngIf="col.key === 'status'; else default">
                      <span *ngIf="row.status === 'OnGoing'" class="custom-text fw-bold">OnGoing</span>
                      <span *ngIf="row.status === 'Rejected'" class="text-danger fw-bold">Rejected</span>
                      <span *ngIf="row.status === 'Approved'" class="text-success fw-bold">Approved</span>
                      <span *ngIf="row.status === 'Pending'" class="text-warning fw-bold">Pending</span>
                      <span *ngIf="row.status === 'Cancelled'" class="text-orange-dark fw-bold">Cancelled</span>
                      <span *ngIf="row.status === 'Hold'" class="text-orange-dark fw-bold">Hold</span>
                    </ng-container> -->
                    <ng-container *ngIf="col.key === 'status'; else default">
                      <span [ngClass]="{
                          'custom-text fw-bold': row.status.startsWith('OnGoing'),
                          'text-danger fw-bold': row.status.startsWith('Rejected'),
                          'text-success fw-bold': row.status.startsWith('Approved'),
                          'text-warning fw-bold': row.status.startsWith('Pending'),
                          'text-orange-dark fw-bold': row.status.startsWith('Hold'),
                          'text-muted fw-bold': row.status.startsWith('Cancelled')
                        }">
                        {{ row.status }}
                      </span>
                    </ng-container>

                    <!-- 
                    1001 = '',
                    1002 = '',
                    1003 = ''
                     -->
                    <ng-template #default>
                      <ng-container *ngIf="col.key === 'employeeid'; else normal">
                        <button *ngIf="row.status === 'Pending'; else viewBtn"
                          class="border-none bg-success text-white custom-action-btn px-2"
                          (click)="handleAction(row.employeeid)">
                          Schedule
                        </button>

                        <ng-template #viewBtn>
                          <button class="border-none custom-bg text-white custom-action-btn px-2"
                            (click)="viewAction(row.employeeid)">
                            View
                          </button>
                        </ng-template>
                      </ng-container>



                      <!-- <ng-template #normal>
                        {{ row[col.key] }}
                      </ng-template> -->
                      <ng-template #normal>
                        <span [innerHTML]="highlightMatch(row[col.key])"></span>
                      </ng-template>
                    </ng-template>
                  </td>
                </tr>
              </tbody>

              <ng-template #noData>
                <tbody>
                  <tr>
                    <td [attr.colspan]="columns.length + 1" class="p-0">
                      <div class="bg-white d-flex justify-content-center align-items-center py-4">
                        <div>
                          <img
                            src="https://assets-v2.lottiefiles.com/a/92920ca4-1174-11ee-9d90-63f3a87b4e3d/xxNZvglgy1.gif"
                            width="150px" height="150px" alt="No data available">
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </ng-template>


            </table>
          </div>
          <hr *ngIf="rows.length > 0" class="custom-hr mb-2 mt-1">

          <div class="d-flex justify-content-between align-items-center mt-1" *ngIf="rows.length > 0">
            <span class="small badge bg-secondary text-white">
              Showing {{ startIndex }} to {{ endIndex }} of {{ totalRecords }} Records
            </span>

            <ul class="pagination pagination-sm mb-1">
              <!-- Previous Page Button -->
              <li class="page-item">
                <button type="button" class="border-none text-white custom-action-btn px-2 py-1 mr-2"
                  (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
                  [class.disabled]="currentPage === 1"
                  [ngClass]="{'custom-bg': currentPage > 1, 'bg-secondary': currentPage === 1}">
                  <i class="bi bi-chevron-left"></i>
                </button>
              </li>

              <!-- Page Number Display -->
              <li class="page-item mr-2 d-none d-md-block">
                <span class="px-3 py-1 small text-dark fw-bold border rounded bg-light">
                  Page {{ currentPage }} of {{ totalPages }}
                </span>
              </li>

              <!-- Next Page Button -->
              <li class="page-item">
                <button type="button" class="border-none text-white custom-action-btn px-2 py-1 mr-2"
                  (click)="changePage(currentPage + 1)" [disabled]="currentPage >= totalPages"
                  [class.disabled]="currentPage >= totalPages"
                  [ngClass]="{'custom-bg': currentPage < totalPages, 'bg-secondary': currentPage >= totalPages}">
                  <i class="bi bi-chevron-right"></i>
                </button>
              </li>
            </ul>
          </div>



        </div>
      </div>

    </div>
  </div>
</div>

<!-- loader -->
<div class="loader attDnceLoadr" *ngIf="">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<ng-template #interviewDialog>
  <div class="animate-zoom" style="font-size: 12px;">
    <div class="">
      <div class="d-flex justify-content-between">
        <h5 class="fw-bold">Schedule Interview</h5>
        <span class="Hover cursor-pointer text-danger" (click)="close()">
          <i class="bi bi-x-circle fs-1 fs-4"></i>
        </span>
      </div>
      <hr class="custom-hr mt-0 mb-2">

      <form [formGroup]="addNewRoundForm" (ngSubmit)="onSubmit()">
        <div class="row mt-3 mb-3">
          <div class="col-md-6 position-relative">
            <label for="interviewBy" class="form-label">
              Interviewer <span class="text-danger">*</span>
            </label>

            <input type="text" placeholder="Search interviewer" class="form-control form-control-sm"
              [value]="selectedInterviewerName" (input)="searchInterviewer($event.target.value)"
              (focus)="showDropdown = true" (blur)="hideDropdown()" autocomplete="off" />

            <ul *ngIf="showDropdown && interviewedByList.length > 0"
              class="dropdown-menu show w-100 position-absolute custom-scroll">
              <li *ngFor="let item of interviewedByList" (mousedown)="selectInterviewer(item)"
                class="dropdown-item cursor-pointer">
                {{ item?.id }} - {{ item?.name }}
              </li>
            </ul>

            <!-- <div *ngIf="
                  addNewRoundForm.get('interviewBy')?.touched &&
                  addNewRoundForm.get('interviewBy')?.invalid
                " class="text-danger fs-custom">
              Interviewed By is required
            </div> -->
            <div *ngIf="
                addNewRoundForm.get('interviewBy')?.touched &&
                addNewRoundForm.get('interviewBy')?.errors?.invalidSelection
              " class="text-danger fs-custom">
              Please select a valid interviewer
            </div>
            <!-- <div *ngIf=" InterviewerError?.length
              " class="text-danger fs-custom">
              Please select a valid interviewer
            </div> -->
          </div>




          <div class="col-md-6">
            <label for="time" class="form-label">Time <span class="text-danger">*</span></label>
            <!-- <select id="time" class="form-control form-control-sm" formControlName="interviewTime">
              <option value="" disabled selected>Select Time</option>
              <option *ngFor="let time of timeSlots" [value]="time">{{ time }}</option>
            </select> -->
            <select id="time" class="form-control form-control-sm" (change)="onTimeChange($event)">
              <option value="">Select Time</option>
              <option *ngFor="let time of timeSlots" [value]="time">{{ time }}</option>
            </select>

            <div class="fs-custom text-danger"
              *ngIf="addNewRoundForm.get('interviewTime')?.hasError('required') && addNewRoundForm.get('interviewTime')?.touched">
              Time is required.
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="date" class="form-label">Date <span class="text-danger">*</span></label>
            <input type="text" id="interviewDate" class="form-control form-control-sm" placeholder="dd-mm-yyyy"
              formControlName="interviewDate" autocomplete="off" [bsConfig]="{
                adaptivePosition: true,
                showWeekNumbers: false,
                isAnimated: true,
                containerClass: colorTheme,
                customTodayClass: 'custom-today-class',
                dateInputFormat: 'DD-MMM-YYYY'
              }" [minDate]="minDate" bsDatepicker required readonly />
            <div class="fs-custom text-danger"
              *ngIf="addNewRoundForm.get('interviewDate')?.hasError('required') && addNewRoundForm.get('interviewDate')?.touched">
              Date is required.
            </div>
          </div>
          <!-- <div class="col-md-6">
            <label for="time" class="form-label">Time <span class="text-danger">*</span></label>
            <select id="time" class="form-control form-control-sm" formControlName="interviewTime">
              <option value="" disabled selected>Select Time</option>
              <option *ngFor="let time of timeSlots" [value]="time">{{ time }}</option>
            </select>
            <div class="fs-custom text-danger"
              *ngIf="addNewRoundForm.get('interviewTime')?.hasError('required') && addNewRoundForm.get('interviewTime')?.touched">
              Time is required.
            </div>
          </div> -->


          <div class="col-md-6">
            <label for="interviewerName" class="form-label">Interview Mode<span class="text-danger">*</span></label>
            <select class="form-control form-control-sm" (change)="onModeChange($event)">
              <option value="">Select</option>
              <option *ngFor="let item of interviewRounds" [value]="item?.id">{{ item?.name }}</option>
            </select>
            <div *ngIf="addNewRoundForm.get('mode')?.touched && addNewRoundForm.get('mode')?.invalid"
              class="text-danger fs-custom">
              Interview Mode is required
            </div>
          </div>



        </div>

        <div class="row mb-3">

          <div class="col-md-6" *ngIf="isMeetingLinkDisabled">
            <label for="roundTitle" class="form-label">Location <span class="text-danger">*</span></label>
            <!-- <input type="text" id="roundTitle" class="form-control form-control-sm" placeholder="Enter round title"
                    formControlName="roundTitle"> -->
            <select class="form-control" (change)="onLocationChange($event)">
              <option value="">Select</option>
              <option *ngFor="let item of interviewLocationData" [value]="item?.id">{{ item?.name }}</option>
            </select>
            <div class="text-danger fs-custom"
              *ngIf="addNewRoundForm.get('locationId')?.hasError('required') && addNewRoundForm.get('locationId')?.touched">
              Location is required.
            </div>
          </div>

          <div class="col-md-6" *ngIf="!isMeetingLinkDisabled">
            <label for="link" class="form-label">
              Meeting Link <span class="text-danger">*</span>
            </label>
            <input type="url" formControlName="link" class="form-control form-control-sm"
              placeholder="Zoom, Teams, Google Meet link, etc." />

            <div *ngIf="addNewRoundForm.get('link')?.touched && addNewRoundForm.get('link')?.invalid"
              class="text-danger fs-custom">
              <div *ngIf="addNewRoundForm.get('link')?.errors?.['required']">
                Meeting link is required
              </div>
              <div *ngIf="addNewRoundForm.get('link')?.errors?.['pattern']">
                Please enter a valid Zoom, Google Meet, or Microsoft Teams link
              </div>
            </div>
          </div>
          <!-- <button type="submit" class="btn btn-sm text-white custom-bg w-100 mt-4">Schedule</button> -->
          <!-- <div class="row"> -->
          <div class="col-md-6">
            <button type="submit" class="btn text-white custom-bg w-100 mt-4">Schedule</button>
          </div>
          <!-- </div> -->

        </div>
      </form>
    </div>
  </div>
</ng-template>

<div class="loader attDnceLoadr" *ngIf="isLoading">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<ng-template #aboutCandidateDialog>
  <div class="animate-zoom">
    <div class="container">
      <div class="row mb-2 align-items-center">
        <div class="col-md-10">
          <div class="d-flex">
            <!-- <span class="fw-bold custom-text mr-3">Candidate Details </span> -->
            <span class="small text-uppercase mr-2">
              Name: {{ candidateData?.candidatePersonalInformationDetails?.firstName }}
            </span>
            <span class="small text-muted mr-2">|</span>

            <!-- <span class="small text-uppercase mr-2">
              Email: {{ candidateData?.candidatePersonalInformationDetails?.email }}
            </span>
            <span class="small text-muted mr-2">|</span> -->

            <span class="small text-uppercase mr-2">
              Job Code: {{ candidateData?.candidatePersonalInformationDetails?.jcReferanceId }}
            </span>
            <span class="small text-muted mr-2">|</span>

            <span class="small text-uppercase">
              Designation: {{ candidateData?.candidatePersonalInformationDetails?.designationName }}
            </span>
          </div>

          <span *ngIf="!candidateData?.candidatePersonalInformationDetails?.firstName"
            class="fw-bold custom-text">Details</span>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-center">
          <span class="cursor-pointer text-danger Hover" (click)="close()">
            <i class="bi bi-x-circle"></i>
          </span>
        </div>
      </div>

      <!-- <hr class="m-0 p-0 text-dark border mb-2"> -->
      <hr class="custom-hr mb-2">

      <div *ngIf="candidateData?.candidatePersonalInformationDetails?.firstName; else noCandidateData"
        class="scroll-container">
        <div class="card p-2 mb-3">
          <div class="table-container">
            <table class="custom-table">
              <thead>
                <tr>
                  <th class="custom-th small-header">Round</th>
                  <th class="custom-th small-header">Interview Date</th>
                  <th class="custom-th small-header">Interview Time</th>
                  <th class="custom-th small-header">Interviewer </th>
                  <th class="custom-th small-header">Round Name</th>
                  <th class="custom-th small-header">interview Mode</th>
                  <th class="custom-th small-header">Status</th>
                  <th class="custom-th small-header">Feedback</th>
                </tr>
              </thead>
              <tbody *ngFor="let exp of candidateData.candidateInterviewDetails">
                <tr>
                  <td class="custom-td small-header">{{ exp?.roundNo }}</td>
                  <td class="custom-td small-header">
                    {{ exp?.interviewDate ? (convertToDateObject(exp.interviewDate) | date:'dd-MMM-yyyy') : '--' }}
                  </td>
                  <td class="custom-td small-header">{{ exp?.interviewTime || '--' }}</td>
                  <td class="custom-td small-header">{{exp?.interviewByName}} - {{ exp?.interviewBy }}</td>
                  <td class="custom-td small-header">{{ exp?.level }} ({{exp?.interviewRoundName || 'Initial'}})</td>
                  <td class="custom-td small-header text-break">{{ exp.modeName || '--'}}</td>
                  <td class="custom-td small-header text-single-line">
                    <button (click)="cancelInterview(exp?.interviewScheduleId)"
                      *ngIf="exp.status === 1001  && exp.interviewTime"
                      class="btn btn-sm btn-danger border-0 px-2 py-1 text-white mr-2">
                      Cancel
                    </button>
                    <button (click)="rescheduleInterview(employeeId)" *ngIf="exp.status === 1001 && !exp.interviewTime"
                      class="btn btn-sm btn-info border-0 px-2 py-1 text-white">
                      Schedule
                    </button>
                    <button (click)="rescheduleInterview(employeeId)"
                      *ngIf="(exp.status === 1002 || exp.status == 1006) && exp?.interviewRoundName !== 'HR'"
                      class="btn btn-sm btn-warning border-0 px-2 py-1 text-white">
                      Reschedule
                    </button>
                    <span *ngIf="exp.status === 1002 && exp?.interviewRoundName == 'HR'" class="">
                      <button (click)="rescheduleInterview(employeeId)"
                        class="btn btn-sm btn-warning border-0 px-2 py-1 text-white">
                        Reschedule
                      </button>
                    </span>

                    <span *ngIf="(exp.status === 1006) && exp?.interviewRoundName == 'HR'" class="">
                      HR Hold
                    </span>


                    <button *ngIf="exp.status === 1004" class="btn btn-sm btn-success border-0 px-2 py-1 text-white"
                      disabled>
                      Completed
                    </button>
                    <button *ngIf="exp.status === 1005" class="btn btn-sm btn-info border-0 px-2 py-1 text-white"
                      disabled>
                      Rejected
                    </button>
                  </td>
                  <td class="custom-td small-header text-break">
                    <ng-container *ngIf="exp.candidateInterviewFeedBackDTO?.length > 0; else pending">
                      <button class="btn btn-sm custom-bg text-white text-break"
                        (click)="feedbackView(exp,candidateData?.candidatePersonalInformationDetails?.firstName,candidateData?.candidatePersonalInformationDetails?.email)">
                        View
                      </button>
                    </ng-container>
                    <ng-template #pending>
                      <span class="text-muted">Pending</span>
                    </ng-template>
                  </td>
                </tr>
                <tr *ngIf="exp.status === 1006 && exp?.interviewRoundName === 'HR'" class="mt-2">
                  <td colspan="8" class=" text-center text-danger mt-2">
                    When Hold, the HR needs to take action from the Hold tab.
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- Show message if no interview details are available -->
          <div *ngIf="!candidateData?.candidateInterviewDetails?.length" class="text-muted text-center">
            No interview details available.
          </div>
        </div>
      </div>

      <ng-template #noCandidateData>
        <div class="alert alert-warning text-center">
          No Candidate data available.
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>